<h4 class="title_dialog with-subtitle">Add Project</h4>
<p class="subtitle">
Choose a Project by Delivery Lead or just writing
</p>

<form [formGroup]="newForm" class="add-wbs">
  <span class="ui-float-label">
    <p-autoComplete formControlName="projectName" [suggestions]="autocompletePeopleProjectsList" field="Description"
      (onFocus)="$event.target.select()" (completeMethod)="filterProjectSingle($event)" id="projectName"
      [forceSelection]="true" (onSelect)="selectProject($event,'projectId')" autocomplete="off">
    </p-autoComplete>
    <label for="projectName">Project or Delivery Lead </label>
    <i class="pi pi-exclamation-triangle " pTooltip="Please, enter an existing Project or Delivery Lead"
      style="font-size: 1.5em"></i>
  </span>
  <span class="ui-float-label project_supervisor" *ngIf="showSupervisorInput">
    <!-- <p-autoComplete formControlName="supervisorName" [suggestions]="autocompletePeopleList" field="Title"
      (onFocus)="$event.target.select()" (completeMethod)="filterPeopleSingle($event)" id="supervisorName"
      [forceSelection]="true" (onSelect)="selectPeople($event,'supervisorId')" autocomplete="off">
    </p-autoComplete>
    <label for="supervisorName">Supervisor </label> -->
    <p-dropdown [options]="filteredSupervisorsByDeliveryLeads" formControlName="supervisorName" placeholder="Select a supervisor"
      optionLabel="Name" [showClear]="true" id="supervisorName" (onChange)="selectPeople($event,'supervisorId')"></p-dropdown>
    <i class="pi pi-exclamation-triangle " pTooltip="Please, enter an existing project name"
      style="font-size: 1.5em"></i>
  </span>


  
  <p-dropdown [options]="optionsProjectsList" *ngIf="showProjectsList" 
  placeholder="Select a Project" optionLabel="Project_Name" formControlName="selectedProject"
    [showClear]="false" dataKey="ID" (onChange)="selectProjectOption($event)"></p-dropdown>
  

  <div class="" *ngIf="selectedProject!=undefined">
    <div class="row">
      <div class="col-md-12">
        <div class="selected_project">
          <span class="ui-float-label">
            <input formControlName="projectName" type="text" size="30" id="projectName" pInputText value="Project Name"
              [value]="selectedProject.Project_Name" disabled>
            <label for="projectName">Selected Project </label>
          </span>
        </div>
       
      </div>
      
    </div>
  </div>
  <div class="row mt-2">
    <div class="col-md-6">
       <span class="ui-float-label ">
          <p-calendar appendTo="body" formControlName="teamStartDate" #teamStartDate dateFormat="dd/mm/yy"
             (onBlur)="setNullDate($event)" [showIcon]="true">
          </p-calendar>
           <label class="label_longdate">Start date (dd/MM/yyyy) </label>
        </span>
    </div>
    <div class="col-md-6">
      <span class="ui-float-label">
          
          <p-calendar appendTo="body" formControlName="teamExitDate" #teamExitDate dateFormat="dd/mm/yy"
             (onBlur)="setNullDate($event)" [showIcon]="true">
          </p-calendar>
          <label class="label_longdate">Team exit date (dd/MM/yyyy) </label>
        </span>
    </div>
  

  </div>
  <div class="row_buttons">
    <button (click)="closeAddWBS(null)" class="button b-third ">
      CANCEL
    </button>
    <button class="button b-main" (click)="saveNewWBS()" disabled="projectFound">SAVE
      CHANGES</button>
  </div>
</form>