.label_longdate {
    font-size: 11px;
}

.selected_project {
    padding: 8px;
    background-color: #f2f2f2;
}

.selected_project .ui-float-label {
    margin-bottom: 0px;
}

.selected_project input {
    border-bottom: none;
}

.project_supervisor {
    margin-top: -24px;
    margin-bottom: 24px;
}

.project_supervisor .pi-exclamation-triangle {
    right: 24px;
    top: 10px;
}

.ui-dropdown-label {
    border-radius: 0;
}