.label_longdate {
    font-size: 11px;
}

.selected_project {
    padding: 8px;
    background-color: #f2f2f2;
}

.selected_project .ui-float-label {
    margin-bottom: 0px;
}

.selected_project input {
    border-bottom: none;
}