section {
    margin-bottom: 48px;
}
.mydata-header {
     margin-bottom: 40px;
    h3 {
        display: inline-block;
        margin: 0;
        font-size: 1.5rem;
    }

    .nacionalidad {
        display: inline-block;
        vertical-align: middle;
        margin-left: 8px;

        img {
            margin-bottom: 7px;
        }
    }

    .start {
        font-size: 1rem;
        line-height: 1;
        width:1200px;
    }

    .main-action {
        text-align: right;
        .action_question {
            display: inline-block;
            font-size: .9rem;
            margin-right: 16px;
        }

        button {
            &.b-main {
                display: inline-block;
                line-height: 1;
                padding: 0 12px !important;
                height: 30px !important;
            }
        }
    }
}
    .section_title {
      i {
        margin-right: 8px;
      }
    }
.mydata_personal {

    .info_card {
        background-color: #f3f3f3;
        padding: 20px;
        padding-left: 60px;
        position: relative;
        

        .icon {
            position: absolute;
            color: #949494;
            font-size: 25px;
            left: 20px;
            top: 20px;
        }


    }
    .info_card_separator {
        margin-bottom: 16px;
    }

}

        .ui-float-label {
          margin-top: 12px;

          label {
            top: 0;
          }

          input {
            &:disabled {
              border: 0;
              opacity: 1;
              font-size: 14px;
              white-space: nowrap;
              overflow: hidden;
              text-overflow: ellipsis;

            }
          }
        }
        .green {
  background-color: lightgreen;
}

.red {
  background-color: red;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  border: 0px solid black;
}
.top_bar_input{
  border: 0;
  opacity: 1;
  font-size: 14px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: center;
  opacity: 1 !important;
}