section {
    margin-bottom: 48px;
}



.mydata-header {
     margin-bottom: 24px;
    h3 {
        display: inline-block;
        margin: 0;
        font-size: 1.5rem;
    }

    .nacionalidad {
        display: inline-block;
        vertical-align: middle;
        margin-left: 8px;

        img {
            margin-bottom: 7px;
        }
    }

    .start {
        font-size: 1rem;
        line-height: 1;

        ul {
          position: relative;
          margin-right: 5px;

          li {
            position: absolute;
            top: 4px;
          }
        }
    }

    .main-action {
        text-align: right;
        .action_question {
            display: inline-block;
            font-size: .9rem;
            margin-right: 16px;
        }

        button {
            &.b-main {
                display: inline-block;
                line-height: 1;
                padding: 0 12px !important;
                height: 30px !important;
            }
        }
    }
}
    .section_title {
      i {
        margin-right: 8px;
      }
    }
.mydata_personal {

    .info_card {
        background-color: #f3f3f3;
        padding: 20px;
        padding-left: 60px;
        position: relative;
        border: 1px solid transparent;


        .icon {
            position: absolute;
            color: #949494;
            font-size: 25px;
            left: 20px;
            top: 20px;
        }


    }
    .info_card_separator {
        margin-bottom: 16px;
    }

}

        .ui-float-label {
          margin-top: 12px;

          /*label {
            top: 0;
          }*/

          input {
            &:disabled {
              border: 0;
              opacity: 1;
              font-size: 14px;
              white-space: nowrap;
              overflow: hidden;
              text-overflow: ellipsis;

            }
          }
        }
        .green {
  background-color: #1FD27C;
}

.red {
  background-color: red;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  width: 7px;
  height: 7px;
  border-radius: 50%;
  border: 0px solid black;
}
.top_bar_input{
  border: 0;
  opacity: 1;
  font-size: 14px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: center;
  opacity: 1 !important;
}

.summary {
  font-size: 14px;

  span {
    margin: 0 8px;
  }
}

.summary .sum-status {
  margin-left: 16px;
  font-weight: bold;
}
.summary .sum-end {
  font-weight: bold;
  color: #ff0000
}

.editcard {
  position: absolute;
  top: 0;
  right: 0;
  opacity: 0;
}

.editcard.editing {
  opacity: 1;
}

.editcard .button {
  font-size: 22px;
  min-width: fit-content !important;
  padding: 0;
  width: auto;
}

.editcard .button.save {
  color: #1FD27C;
}
.editcard .button.cancel {
  color: #ff0000;
}

.mydata_personal .info_card:hover {
  border: 1px solid #ddd;
}

.mydata_personal .info_card.card-editing {
  background-color: #f2f9ff;

}

.mydata_personal .info_card.card-editing:hover {
  border-color: transparent;
}

.info_card:hover .editcard {
  opacity: 1;
}

.mydata_projects .show-deleted.deleted-wbs p {
  margin-bottom: 0;
}
.mydata_projects .show-deleted.deleted-wbs {
  margin-top: 7px;
}

.info_card .ui-button-icon-only .ui-button-icon-left {
  margin-top: -0.9em;
}
