<div class="container">
  <br>

  <div class="mydata-header">
    <div class="row " *ngIf="userData">
      <div class="col-md-8">


        <div class="main-data">
          <h3>{{userData.Title}}</h3>
          <div class="nacionalidad">
            <img src="assets/img/ES-Flag.png" alt="" style="margin-right:5px" *ngIf="checkGeography('ES')">
            <img src="assets/img/FR-Flag.png" alt="" style="margin-right:5px" *ngIf="checkGeography('FR')">
            <img src="assets/img/DE-Flag.png" alt="" *ngIf="checkGeography('DE')">
          </div>
          <!-- <button pButton type="button" label="EDIT USER MAIN DATA" class="button b-third mr-16"></button> -->

        </div>
      </div>
      <div class="col-md-4">
        <div class="main-action">
          <p class="action_question">Are you leaving Airbus?</p>
          <button class="button b-main">START ROLL OFF </button>
        </div>
      </div>
    </div>

    <div class="row" *ngIf="userData">
      <div class="col-md-12">
        <div class="start">
          <ul>
            <li *ngIf="userData.Status === 'Active'" class="green"></li>
            <li *ngIf="userData.Status === 'Inactive'" class="red"></li>
          </ul>
          <div>

            <p class="summary">
              <span class="sum-status" id="float-input-Status">{{userData.Status}}</span> |
              <span id="float-input-EntryDate">{{startDate}}</span> |
              <span id="float-input-contractAndCompany">{{contractAndCompany}}</span> |
              <span id="float-input-PrimaryContact">{{primaryContact}}</span>
            </p>

          </div>
        </div>
      </div>
    </div>
  </div>


  <!--PERSONAL-->
  <section class="mydata_personal">
    <div class="section_title">
      <h3><i class="far fa-user" aria-hidden="true"></i> Personal
        <button pButton type="button" style="float: right;padding-right: 0px;" *ngIf="myOwnData"
          label="REQUEST DATA CHANGE" class="button b-third mr-16"></button></h3>
    </div>
    <div class="row mt-4 row-eq-height">
      <!--PERSONAL 1-->
      <div class="col-md-5 data_column">
        <!--PERSONAL 1 INFO CARD-->
        <form [formGroup]="cardInfoForm">
          <div class="id info_card" [class.card-editing]="cardInfoFormModeEdition">
            <div class="icon">
              <i class="fas fa-id-card" aria-hidden="true"></i>
            </div>
            <div class="row">
              <div class="col-md-6">
                <span class="ui-float-label" *ngIf="userData">
                  <input id="float-input-DNI" formControlName="dni" type="text" size="30" pInputText
                    [(ngModel)]="userData.DNI">
                  <label for="float-input-DNI">DNI / Personalauswis / CNI </label>
                </span>
                <span class="ui-float-label" *ngIf="userData">
                  <input id="float-input-AirbusSAPUser" formControlName="airbusSAPUser" type="text" size="30" pInputText
                    [(ngModel)]="userData.AirbusSAPUser">
                  <label for="float-input-AirbusSAPUser">AIRBUS User Number </label>
                </span>
                <span class="ui-float-label" *ngIf="userData">
                  <input id="float-input-NEmployee" formControlName="nEmployee" type="text" size="30" pInputText
                    [(ngModel)]="userData.NEmployee">
                  <label for="float-input-NEmployee">Employee Number </label>
                </span>
                <span class="ui-float-label mt-0" *ngIf="userData">
                  <p-checkbox formControlName="NATO" id="float-input-NATOInstructionPerformed"
                    [(ngModel)]="userData.NATO" label="NATO Certificate"></p-checkbox>
                  <!-- <input id="float-input-NATOInstructionPerformed"  formControlName="nEmployee"
                type="text" size="30"
                 pInputText value="Yes" disabled>

                <label for="float-input-NATOInstructionPerformed">NATO Certificate </label> -->
                </span>

              </div>
              <div class="col-md-6 ">
                <span class="ui-float-label" *ngIf="userData">
                  <input id="float-input-EnterpriseID" formControlName="enterpriseID" type="text" size="30" pInputText
                    [(ngModel)]="userData.EnterpriseID">
                  <label for="float-input-EnterpriseID">Enterprise ID </label>
                </span>
                <span class="ui-float-label" *ngIf="userData">
                  <input id="float-input-NUserNG" formControlName="nUserNG" type="text" size="30" pInputText
                    [(ngModel)]="userData.NUserNG">
                  <label for="float-input-NUserNG">User Number NG </label>
                </span>
                <span class="ui-float-label" *ngIf="userData">
                  <input id="float-input-NSS" formControlName="nSS" type="text" size="30" pInputText
                    [(ngModel)]="userData.NSS">
                  <label for="float-input-NSS">Social Security Number </label>
                </span>
              </div>
              <div class="edicion editcard" [ngClass]="{ 'editing': cardInfoFormModeEdition }">
                <button pButton type="button" icon="pi pi-pencil" pTooltip="Edit Personal" tooltipPosition="bottom"
                  (click)="editData(userDataOperations.EditCardInfo)" showDelay="1000" hideDelay="500"
                  class="button b-third edit " *ngIf="!cardInfoFormModeEdition && isAdminMode()"></button>
                <button *ngIf="cardInfoFormModeEdition" pButton type="button" icon="pi pi-check" pTooltip="Save"
                  tooltipPosition="bottom" showDelay="1000" hideDelay="500" class="button b-third save "></button>
                <button *ngIf="cardInfoFormModeEdition" pButton type="button" icon="pi pi-times" pTooltip="Cancel"
                  tooltipPosition="bottom" showDelay="1000" hideDelay="500" class="button b-third cancel "
                  (click)="editData(userDataOperations.EditCardInfo)"></button>
              </div>

            </div>
          </div>
        </form>
        <!--PERSONAL 1 SEPARATOR-->
        <div class="info_card_separator"></div>
        <!--PERSONAL 1 INFO BIRTH-->
        <form [formGroup]="birthInfoForm">
          <div class="location info_card birth" [class.card-editing]="birthInfoFormModeEdition">
            <div class="icon">
              <i class="fas fa-anchor" aria-hidden="true"></i>
            </div>
            <div class="row">
              <div class="col-md-12">
                <span class="ui-float-label" *ngIf="userData">

                  <!-- <p-calendar appendTo="body" formControlName="birthDate" [(ngModel)]="userData.BirthDate" #birthDateCalendar
                  dateFormat="dd/mm/yy" placeholder="" (onBlur)="setNullDate($event,'birthCalendar')" [showIcon]="true" id="float-input-BirthDate">
                </p-calendar> -->
                  <p-calendar appendTo="body" formControlName="birthDate" [(ngModel)]="birthDate" #birthDateCalendar
                    dateFormat="dd/mm/yy" placeholder="" (onBlur)="setNullDate($event,'birthDate')" [showIcon]="true"
                    id="float-input-BirthDate">
                  </p-calendar>
                  <label for="float-input-BirthDate">Birth date (dd/MM/yyyy) </label>
                </span>

              </div>
              <div class="col-md-6 ">
                <span class="ui-float-label" *ngIf="userData">
                  <input id="float-input-PlaceBirth" formControlName="placeBirth" type="text" size="30" pInputText
                    [(ngModel)]="userData.PlaceBirth">
                  <label for="float-input-PlaceBirth">Place by Birth </label>
                </span>
              </div>
              <div class="col-md-6 ">
                <span class="ui-float-label" *ngIf="userData">
                  <input id="float-input-Nationality" formControlName="nationality" type="text" size="30" pInputText
                    [(ngModel)]="userData.Nationality">
                  <label for="float-input-Nationality">Nationality </label>
                </span>
              </div>
              <div class="edicion editcard" [ngClass]="{ 'editing': birthInfoFormModeEdition }">
                  <button pButton type="button" icon="pi pi-pencil" pTooltip="Edit Birth data" tooltipPosition="bottom"
                    (click)="editData(userDataOperations.EditBirthInfo)" showDelay="1000" hideDelay="500"
                    class="button b-third edit " *ngIf="!birthInfoFormModeEdition && isAdminMode()"></button>
                  <button *ngIf="birthInfoFormModeEdition" pButton type="button" icon="pi pi-check" pTooltip="Save"
                    tooltipPosition="bottom" showDelay="1000" hideDelay="500" class="button b-third save"></button>
                  <button *ngIf="birthInfoFormModeEdition" pButton type="button" icon="pi pi-times" pTooltip="Cancel"
                    tooltipPosition="bottom" showDelay="1000" hideDelay="500" class="button b-third cancel"
                    (click)="editData(userDataOperations.EditBirthInfo)"></button>
              </div>

            </div>
          </div>
        </form>
      </div>
      <!--PERSONAL 2-->
      <div class="col-md-7 data_column">
        <!--PERSONAL 1 INFO EMAIL-->
        <form [formGroup]="emailInfoForm">
          <div class="email info_card" [class.card-editing]="emailInfoFormModeEdition">
            <div class="icon">
              <i class="fa fa-envelope" aria-hidden="true"></i>
            </div>
            <div class="row">
              <div class="col-md-6">
                <span class="ui-float-label" *ngIf="userData">
                  <input id="float-input-MailAccenture" formControlName="mailAccenture" type="text" size="30" pInputText
                    [(ngModel)]="userData.MailAccenture">
                  <label for="float-input-MailAccenture">Accenture Mail Data </label>
                </span>
              </div>
              <div class="col-md-6">
                <span class="ui-float-label" *ngIf="userData">
                  <input id="float-input-MailAirbus" formControlName="mailAirbus" type="text" size="30" pInputText
                    pInputText [(ngModel)]="userData.MailAirbus">
                  <label for="float-input-MailAirbus">AIRBUS Mail </label>
                </span>
              </div>
              <div class="edicion editcard" [ngClass]="{ 'editing': emailInfoFormModeEdition }">
                <button pButton type="button" icon="pi pi-pencil" pTooltip="Edit Birth data" tooltipPosition="bottom"
                  (click)="editData(userDataOperations.EditEmailInfo)" showDelay="1000" hideDelay="500"
                  class="button b-third edit " *ngIf="!emailInfoFormModeEdition && isAdminMode()"></button>
                <button *ngIf="emailInfoFormModeEdition" pButton type="button" icon="pi pi-check" pTooltip="Save"
                  tooltipPosition="bottom" showDelay="1000" hideDelay="500" class="button b-third save"  ></button>
                <button *ngIf="emailInfoFormModeEdition" pButton type="button" icon="pi pi-times" pTooltip="Cancel"
                  tooltipPosition="bottom" showDelay="1000" hideDelay="500" class="button b-third cancel" (click)="editData(userDataOperations.EditEmailInfo)"></button>
              </div>


            </div>

          </div>
        </form>
        <!--PERSONAL 1 SEPARATOR-->
        <div class="info_card_separator"></div>
        <!--PERSONAL 1 INFO LOCATION-->
        <form [formGroup]="locationInfoForm">
          <div class="location info_card" [class.card-editing]="locationInfoFormModeEdition">
            <div class="icon">
              <i class="fas fa-map-marker-alt" aria-hidden="true"></i>
            </div>
            <div class="row">
              <div class="col-md-6">
                <span class="ui-float-label" *ngIf="userData">
                  <input id="float-input-Location" formControlName="location" type="text" size="30" pInputText
                    [(ngModel)]="userData.Location">
                  <label for="float-input-Location">Principal Location </label>
                </span>
              </div>
              <div class="col-md-6">
                <span class="ui-float-label" *ngIf="userData">
                  <input id="float-input-Workplace" formControlName="workplace" type="text" size="30" pInputText
                    value="---">
                  <label for="float-input-Workplace">Workplace </label>
                </span>
              </div>
              <div class="edicion editcard" [ngClass]="{ 'editing': locationInfoFormModeEdition }">
                <button pButton type="button" icon="pi pi-pencil" pTooltip="Edit Birth data" tooltipPosition="bottom"
                  (click)="editData(userDataOperations.EditLocationInfo)" showDelay="1000" hideDelay="500"
                  class="button b-third edit " *ngIf="!locationInfoFormModeEdition && isAdminMode()"></button>
                <button *ngIf="locationInfoFormModeEdition" pButton type="button" icon="pi pi-check" pTooltip="Save"
                  tooltipPosition="bottom" showDelay="1000" hideDelay="500" class="button b-third save"
                  style="margin-right: .5em"></button>
                <button *ngIf="locationInfoFormModeEdition" pButton type="button" icon="pi pi-times" pTooltip="Cancel"
                  tooltipPosition="bottom" showDelay="1000" hideDelay="500" class="button b-third cancel"
                  (click)="editData(userDataOperations.EditLocationInfo)"></button>
              </div>


            </div>
          </div>
        </form>
        <div class="info_card_separator"></div>
        <!--PERSONAL 1 INFO ROLLON-->
        <form [formGroup]="rollOnInfoForm">
          <div class="rollon info_card" [class.card-editing]="rollOnInfoFormModeEdition">
            <div class="icon">
              <i class="fas fa-door-open"></i>
            </div>
            <div class="row">
              <div class="col-md-6">
                <span class="ui-float-label" *ngIf="userData">
                  <input id="float-input-RollOnOff" formControlName="rollOnOff" type="text" size="30" pInputText
                    [(ngModel)]="userData.RollOnOff">
                  <label for="float-input-RollOnOff">Roll On/ Roll Off Number </label>
                </span>
                <span class="ui-float-label" *ngIf="userData">

                  <p-calendar appendTo="body" formControlName="startDate" [(ngModel)]="entryDate" #startDateCalendar
                    dateFormat="dd/mm/yy" placeholder="" (onBlur)="setNullDate($event,'startDate')" [showIcon]="true"
                    id="float-input-StartDate">
                  </p-calendar>
                   <label for="float-input-StartDate">Start date (dd/MM/yyyy) </label>
                  <!-- <input id="float-input-StartDate"
                 type="text" size="30" pInputText [(ngModel)]="startDate" >
                <label for="float-input-StartDate">Start Date </label> -->
                </span>
                <span class="ui-float-label" *ngIf="userData">
                  <input id="float-input-ExitReason" formControlName="exitReason" type="text" size="30" pInputText
                    [(ngModel)]="userData.ExitReason">
                  <label for="float-input-ExitReason">Exit Reason </label>
                </span>
              </div>
              <div class="col-md-6">
                <span class="ui-float-label" *ngIf="userData">
                  <input id="float-input-GESUB" formControlName="gESUB" type="text" size="30" pInputText
                    [(ngModel)]="userData.GESUB">
                  <label for="float-input-GESUB">GESUB Leave requirement No. </label>
                </span>
                <span class="ui-float-label" *ngIf="userData">

                  <p-calendar appendTo="body" formControlName="endDate" [(ngModel)]="exitDate" #endDateCalendar
                    dateFormat="dd/mm/yy" placeholder="" (onBlur)="setNullDate($event,'endDate')" [showIcon]="true"
                    id="float-input-EndDate">
                  </p-calendar>
                  <label for="float-input-EndDate">End date (dd/MM/yyyy) </label>
                  <!-- <input id="float-input-ExitDate" formControlName="exitDate"
                 type="text" size="30" pInputText [(ngModel)]="userData.ExitDate" > -->
                  <!-- <label for="float-input-ExitDate">End Date </label> -->
                </span>
                <span class="ui-float-label" *ngIf="userData">
                  <input id="float-input-PrimaryContact" formControlName="primaryContact" type="text" size="30"
                    pInputText [(ngModel)]="primaryContact">
                  <label for="float-input-PrimaryContact">Primary Contact </label>
                </span>
              </div>
                <div class="edicion editcard" [ngClass]="{ 'editing': locationInfoFormModeEdition }">
                  <button pButton type="button" icon="pi pi-pencil" pTooltip="Edit Birth data" tooltipPosition="bottom"
                    (click)="editData(userDataOperations.EditRollOnInfo)" showDelay="1000" hideDelay="500"
                    class="button b-third edit " *ngIf="!rollOnInfoFormModeEdition && isAdminMode()"></button>
                  <button *ngIf="rollOnInfoFormModeEdition" pButton type="button" icon="pi pi-check" pTooltip="Save"
                    tooltipPosition="bottom" showDelay="1000" hideDelay="500" class="button b-third save"
                    ></button>
                  <button *ngIf="rollOnInfoFormModeEdition" pButton type="button" icon="pi pi-times" pTooltip="Cancel"
                    tooltipPosition="bottom" showDelay="1000" hideDelay="500" class="button b-third cancel"
                    (click)="editData(userDataOperations.EditRollOnInfo)"></button>
                </div>


            </div>
          </div>
        </form>
      </div>
    </div>
  </section>


  <!--PROJECTS-->
  <section class="mydata_projects">
    <div class="section_title">
      <div class="row">
        <div class="col-md-3">
          <h3><i class="fas fa-suitcase" aria-hidden="true"></i> Projects</h3>
        </div>
        <div class="col-md-9">
          <div class="text-right">
            <div class="show-deleted deleted-wbs">

              <p>Show inactive projects </p>
              <p-inputSwitch [(ngModel)]="showInactiveProjects" onLabel="On" offLabel="Off"></p-inputSwitch>
            </div>
            <button pButton type="button" style="float: right;padding-right: 0px;" *ngIf="myOwnData"
              label="REQUEST PROJECT ADITTION" class="button b-third mr-16"></button>
            <button pButton type="button" style="float: right;padding-right: 0px;" *ngIf="!myOwnData"
              label="ADD PROJECT" (click)="addUserToTeam()" class="button b-third mr-16"></button>
          </div>
        </div>
      </div>
    </div>

    <p-tabView #tabView (onChange)="handleTabChange($event)">
      <ng-container *ngFor="let project of teamsData;let i = index">

        <!-- <span *ngIf="showInactiveProjects?showInactiveProjects==!project.Active":true></span>-- -->
        <p-tabPanel header="{{project.ProjectName}}" *ngIf="showThisProject(project)"
          headerStyleClass="{{project.Active?'':'inactive_project'}}" [class.inactive_project]="!project.Active">
          <app-project-detail #projectDetail [(projectData)]="project" [tabId]="i"></app-project-detail>
        </p-tabPanel>
      </ng-container>
    </p-tabView>
  </section>
  <!--ORGANIZATION-->
  <section class="mydata_personal">
    <div class="section_title">
      <h3><i class="far fa-building" aria-hidden="true"></i> Organization
      </h3>
    </div>
    <div class="row mt-4 row-eq-height">
      <!--ORGANIZATION 1-->
      <div class="col-md-5 data_column">
        <!--ORGANIZATION INFO COMPANY-->
        <div class="id info_card">
          <div class="icon">
            <i class="fas fa-university" aria-hidden="true"></i>
          </div>
          <div class="row">
            <div class="col-md-6">
              <span class="ui-float-label" *ngIf="userData">
                <input id="float-input-Company" type="text" size="30" pInputText *ngIf="userData.Company!=null"
                  [(ngModel)]="userData.Company" disabled>
                <input id="float-input-Company" type="text" size="30" pInputText *ngIf="userData.Company==null"
                  value="---" disabled>
                <label for="float-input-Company">Company </label>
              </span>
              <span class="ui-float-label" *ngIf="userData">
                <input id="float-input-Contract" type="text" size="30" pInputText *ngIf="userData.Contract!=null"
                  [(ngModel)]="userData.Contract" disabled>
                <input id="float-input-Contract" type="text" size="30" pInputText *ngIf="userData.Contract==null"
                  value="---" disabled>
                <label for="float-input-Contract">Contract </label>
              </span>
              <span class="ui-float-label" *ngIf="userData">
                <input id="float-input-DeplGeoUnit" type="text" size="30" pInputText *ngIf="userData.DeplGeoUnit!=null"
                  [(ngModel)]="userData.DeplGeoUnit" disabled>
                <input id="float-input-DeplGeoUnit" type="text" size="30" pInputText *ngIf="userData.DeplGeoUnit==null"
                  value="---" disabled>
                <label for="float-input-DeplGeoUnit">Depl. Geo Unit </label>
              </span>
            </div>
            <div class="col-md-6 ">
              <span class="ui-float-label" *ngIf="userData">
                <input id="float-input-CompanyCode" type="text" size="30" pInputText *ngIf="userData.CompanyCode!=null"
                  [(ngModel)]="userData.CompanyCode" disabled>
                <input id="float-input-CompanyCode" type="text" size="30" pInputText *ngIf="userData.CompanyCode==null"
                  value="---" disabled>
                <label for="float-input-CompanyCode">Company Code </label>
              </span>
              <span class="ui-float-label" *ngIf="userData">
                <input id="float-input-OrgUnit" type="text" size="30" pInputText *ngIf="userData.OrgUnit!=null"
                  [(ngModel)]="userData.OrgUnit" disabled>
                <input id="float-input-OrgUnit" type="text" size="30" pInputText *ngIf="userData.OrgUnit==null"
                  value="---" disabled>
                <label for="float-input-OrgUnit"> Org. Unit </label> </span>
            </div>
            <button pButton type="button" icon="pi pi-pencil" pTooltip="Edit Observations" tooltipPosition="bottom"
              (click)="editData(userDataOperations.EditOrganizationInfo)" showDelay="1000" hideDelay="500"
              class="button b-third edit editcard" *ngIf="isAdminMode()"></button>
          </div>
        </div>
        <!--ORGANIZATION SEPARATOR-->
        <div class="info_card_separator"></div>
        <!--ORGANIZATION INFO COSTCENTER-->
        <div class="location info_card">
          <div class="icon">
            <i class="fas fa-coins" aria-hidden="true"></i>
          </div>
          <div class="row">
            <div class="col-md-6">
              <span class="ui-float-label" *ngIf="userData">
                <input id="float-input-CostCenterName" type="text" size="30" pInputText
                  [(ngModel)]="userData.CostCenterName" *ngIf="userData.CostCenterName!=null" disabled>
                <input id="float-input-CostCenterName" type="text" size="30" pInputText value="---" disabled
                  *ngIf="userData.CostCenterName==null">
                <label for="float-input-CostCenterName">Cost Center </label>
              </span>
              <span class="ui-float-label" *ngIf="userData">
                <input id="float-input-EconomicProfile" type="text" size="30" pInputText
                  [(ngModel)]="userData.EconomicProfile" disabled *ngIf="userData.EconomicProfile!=null">
                <input id="float-input-EconomicProfile" type="text" size="30" pInputText value="---" disabled
                  *ngIf="userData.EconomicProfile==null">
                <label for="float-input-EconomicProfile">Economic Profile </label>
              </span>
            </div>
            <div class="col-md-6 ">
              <span class="ui-float-label" *ngIf="userData">
                <input id="float-input-CostCenterCode" type="text" size="30" pInputText
                  [(ngModel)]="userData.CostCenterCode" disabled *ngIf="userData.CostCenterCode!=null">
                <input id="float-input-CostCenterCode" type="text" size="30" pInputText value="---" disabled
                  *ngIf="userData.CostCenterCode==null">
                <label for="float-input-CostCenterCode">Cost Code </label>
              </span>
            </div>
            <button pButton type="button" icon="pi pi-pencil" pTooltip="Edit Observations" tooltipPosition="bottom"
              (click)="editData(userDataOperations.EditCostCenterInfo)" showDelay="1000" hideDelay="500"
              class="button b-third edit editcard" *ngIf="isAdminMode()"></button>
          </div>
        </div>
      </div>
      <!--ORGANIZATION 2-->
      <div class="col-md-7 data_column">
        <!--ORGANIZATION 2 INFO CAREER-->
        <div class="email info_card">
          <div class="icon">
            <i class="fas fa-graduation-cap" aria-hidden="true"></i>
          </div>
          <div class="row">
            <div class="col-md-6">
              <span class="ui-float-label" *ngIf="userData">
                <input id="float-input-CareerTrack" type="text" size="30" pInputText *ngIf="userData.CareerTrack!=null"
                  [(ngModel)]="userData.CareerTrack" disabled>
                <input id="float-input-CareerTrack" type="text" size="30" pInputText value="---" disabled
                  *ngIf="userData.CareerTrack==null">
                <label for="float-input-CareerTrack">Career Track </label>
              </span>
              <span class="ui-float-label" *ngIf="userData">
                <input id="float-input-RoleFamily" type="text" size="30" pInputText *ngIf="userData.RoleFamily!=null"
                  [(ngModel)]="userData.RoleFamily" disabled>
                <input id="float-input-RoleFamily" type="text" size="30" pInputText value="---" disabled
                  *ngIf="userData.RoleFamily==null">
                <label for="float-input-RoleFamily">Role Family </label>
              </span>
              <span class="ui-float-label" *ngIf="userData">
                <input id="float-input-ReqIndustryCategory" type="text" size="30" pInputText
                  *ngIf="userData.ReqIndustryCategory!=null" [(ngModel)]="userData.ReqIndustryCategory" disabled>
                <input id="float-input-ReqIndustryCategory" type="text" size="30" pInputText value="---" disabled
                  *ngIf="userData.ReqIndustryCategory==null">
                <label for="float-input-ReqIndustryCategory">Req. Industry Category </label>
              </span>
              <span class="ui-float-label" *ngIf="userData">
                <input id="float-input-ReqIndustrySpeciality" type="text" size="30" pInputText
                  *ngIf="userData.ReqIndustrySpeciality!=null" [(ngModel)]="userData.ReqIndustrySpeciality" disabled>
                <input id="float-input-ReqIndustrySpeciality" type="text" size="30" pInputText value="---" disabled
                  *ngIf="userData.ReqIndustrySpeciality==null">
                <label for="float-input-ReqIndustrySpeciality">Req. Industry Speciality </label>
              </span>
            </div>
            <div class="col-md-6">
              <span class="ui-float-label" *ngIf="userData">
                <input id="float-input-CareerLevel" type="text" size="30" pInputText [(ngModel)]="userData.CareerLevel"
                  disabled *ngIf="userData.CareerLevel!=null">
                <input id="float-input-CareerLevel" type="text" size="30" pInputText value="---" disabled
                  *ngIf="userData.CareerLevel==null">
                <label for="float-input-CareerLevel">Career Level </label>
              </span>
              <span class="ui-float-label" *ngIf="userData">
                <input id="float-input-TalentSegment" type="text" size="30" pInputText
                  [(ngModel)]="userData.TalentSegment" disabled *ngIf="userData.TalentSegment!=null">
                <input id="float-input-TalentSegment" type="text" size="30" pInputText value="---" disabled
                  *ngIf="userData.TalentSegment==null">
                <label for="float-input-TalentSegment">Talent Segment </label>
              </span>
              <span class="ui-float-label" *ngIf="userData">
                <input id="float-input-ReqFuncTechCapability" type="text" size="30" pInputText
                  [(ngModel)]="userData.ReqFuncTechCapability" disabled *ngIf="userData.ReqFuncTechCapability!=null">
                <input id="float-input-ReqFuncTechCapability" type="text" size="30" pInputText value="---" disabled
                  *ngIf="userData.ReqFuncTechCapability==null">
                <label for="float-input-ReqFuncTechCapability">Req. Func./Tech. Capability </label>
              </span>
            </div>
            <button pButton type="button" icon="pi pi-pencil" pTooltip="Edit Observations" tooltipPosition="bottom"
              (click)="editData(userDataOperations.EditCareerInfo)" showDelay="1000" hideDelay="500"
              class="button b-third edit editcard" *ngIf="isAdminMode()"></button>
          </div>

        </div>
        <!--ORGANIZATION 2 SEPARATOR-->
        <div class="info_card_separator"></div>
        <!--ORGANIZATION 2 INFO OTHER LOCATIONS-->
        <div class="location info_card">
          <div class="icon">
            <i class="fas fa-map-marker-alt" aria-hidden="true"></i>
          </div>
          <div class="row">
            <div class="col-md-6">
              <span class="ui-float-label" *ngIf="userData">
                <input id="float-input-Locations" type="text" size="30" pInputText [(ngModel)]="userData.Location"
                  disabled>
                <label for="float-input-Locations">Other Locations </label>
              </span>
            </div>
            <button pButton type="button" icon="pi pi-pencil" pTooltip="Edit Observations" tooltipPosition="bottom"
              (click)="editData(userDataOperations.EditOtherLocations)" showDelay="1000" hideDelay="500"
              class="button b-third edit editcard" *ngIf="isAdminMode()"></button>
            <div class="col-md-6">

            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--COMMENTS-->
  <section class="mydata_personal">
    <div class="section_title">
      <h3><i class="far fa-comment-alt" aria-hidden="true"></i> Observations
      </h3>
    </div>
    <!--COMMENTS INFO-->
    <div class="row mt-4 row-eq-height">
      <div class="col-md-12">
        <div class="id info_card">
          <div class="row">
            <span class="ui-float-label" *ngIf="userData">
              <input id="float-input-Observations" type="text" size="400" pInputText *ngIf="userData.Observations!=null"
                [(ngModel)]="userData.Observations" disabled>
              <input id="float-input-Observations" type="text" size="400" pInputText *ngIf="userData.Observations==null"
                value="---" disabled>
            </span>
          </div>
          <button pButton type="button" icon="pi pi-pencil" pTooltip="Edit Observations" tooltipPosition="bottom"
            (click)="editData(userDataOperations.EditComments)" showDelay="1000" hideDelay="500"
            class="button b-third edit editcard" *ngIf="isAdminMode()"></button>
        </div>
      </div>
    </div>
  </section>
  <div>
