<div class="container">
  <div class="row mydata-header" *ngIf="userData">
    <div class="col-md-8">
      <div class="main-data">
        <h3>{{userData.Title}}</h3>
        <div class="nacionalidad"><img src="assets/img/spain.png" alt=""></div>
        <button pButton type="button" label="EDIT USER MAIN DATA"
          class="button b-third mr-16"></button>
        <div class="start" style="padding-left: 15px;">
          <ul style="position: absolute;left: 15px;padding-top: 10px;">
            <li *ngIf="userData.Status === 'Active'" class="green"></li>
            <li *ngIf="userData.Status === 'Inactive'" class="red"></li>
          
        </ul>
        <div>
          <b><input id="float-input-Status" type="text" size="7" class="top_bar_input"
             pInputText [(ngModel)]="userData.Status" disabled style="font-weight: bold;text-align:left;"></b>|
             <input id="float-input-EntryDate" type="text" size="20" class="top_bar_input" 
             pInputText [(ngModel)]="startDate"
              disabled>| 
            <input id="float-input-contractAndCompany" type="text" size="20" class="top_bar_input" pInputText 
            [(ngModel)]="contractAndCompany"
              disabled>|
              <input id="float-input-PrimaryContact" type="text" size="25" class="top_bar_input" pInputText [(ngModel)]="primaryContact"
                disabled>
          <!-- <b>{{userData.Status}}</b>&nbsp;&nbsp;|&nbsp;&nbsp;Start date {{userData.EntryDate | date: 'dd/MM/yyyy'}}
          &nbsp;&nbsp;|&nbsp;&nbsp;{{userData.ContractType}} in {{userData.Company}}&nbsp;&nbsp;|&nbsp;&nbsp;Primary contact: {{userData.PrimaryContact}} -->
        </div>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="main-action">
        <p class="action_question">Are you leaving Airbus?</p>
        <button class="button b-main">START ROLL OFF </button>
      </div>
    </div>
  </div>

  <!--PERSONAL-->
  <section class="mydata_personal">
    <div class="section_title">
      <h3><i class="fa fa-user" aria-hidden="true"></i> Personal
        <button pButton type="button" style="float: right;padding-right: 0px;" label="REQUEST DATA CHANGE"
          class="button b-third mr-16"></button></h3>
    </div>
    <div class="row mt-4 row-eq-height">
      <!--PERSONAL 1-->
      <div class="col-md-5 data_column">

        <div class="id info_card">

          <div class="icon">
            <i class="fa fa-id-card" aria-hidden="true"></i>
          </div>
          <div class="row">
            <div class="col-md-6">
              <span class="ui-float-label" *ngIf="userData">
                <input id="float-input-DNI" type="text" size="30" pInputText *ngIf="userData.DNI!=null"
                  [(ngModel)]="userData.DNI" disabled>
                <input id="float-input-DNI" type="text" size="30" pInputText *ngIf="userData.DNI==null" value="---"
                  disabled>
                <label for="float-input-DNI">DNI / Personalauswis / CNI </label>
              </span>
              <span class="ui-float-label" *ngIf="userData">
                <input id="float-input-AirbusSAPUser" type="text" size="30" pInputText
                  *ngIf="userData.AirbusSAPUser!=null" [(ngModel)]="userData.AirbusSAPUser" disabled>
                <input id="float-input-AirbusSAPUser" type="text" size="30" pInputText
                  *ngIf="userData.AirbusSAPUser==null" value="---" disabled>
                <label for="float-input-AirbusSAPUser">AIRBUS User Number </label>
              </span>
              <span class="ui-float-label" *ngIf="userData">
                <input id="float-input-NEmployee" type="text" size="30" pInputText [(ngModel)]="userData.NEmployee"
                  disabled>
                <label for="float-input-NEmployee">Employee Number </label>
              </span>
              <span class="ui-float-label" *ngIf="userData">
                <input id="float-input-NATOInstructionPerformed" type="text" size="30"
                  *ngIf="userData.NATOInstructionPerformed" pInputText value="Yes" disabled>
                <input id="float-input-NATOInstructionPerformed" type="text" size="30"
                  *ngIf="!userData.NATOInstructionPerformed" pInputText value="No" disabled>
                <label for="float-input-NATOInstructionPerformed">NATO Certificate </label>
              </span>

            </div>
            <div class="col-md-6 ">
              <span class="ui-float-label" *ngIf="userData">
                <input id="float-input-EnterpriseID" type="text" size="30" pInputText
                  [(ngModel)]="userData.EnterpriseID" disabled>
                <label for="float-input-EnterpriseID">Enterprise ID </label>
              </span>
              <span class="ui-float-label" *ngIf="userData">
                <input id="float-input-NUserNG" type="text" size="30" pInputText *ngIf="userData.NUserNG!=null"
                  [(ngModel)]="userData.NUserNG" disabled>
                <input id="float-input-NUserNG" type="text" size="30" pInputText *ngIf="userData.NUserNG==null"
                  value="---" disabled>
                <label for="float-input-NUserNG">User Number NG </label>
              </span>
              <span class="ui-float-label" *ngIf="userData">
                <input id="float-input-NSS" type="text" size="30" pInputText *ngIf="userData.NSS!=null"
                  [(ngModel)]="userData.NSS" disabled>
                <input id="float-input-NSS" type="text" size="30" pInputText *ngIf="userData.NSS==null" value="---"
                  disabled>
                <label for="float-input-NSS">Social Security Number </label>
              </span>
            </div>
            <button pButton type="button" icon="pi pi-pencil" pTooltip="Edit Personal" tooltipPosition="bottom" showDelay="1000"
              hideDelay="500" class="button b-third edit" style="position: absolute;right: 0px;top:0px"></button>
          </div>
        </div>
        <div class="info_card_separator"></div>
        <div class="location info_card">
          <div class="icon">
            <i class="fa fa-anchor" aria-hidden="true"></i>
          </div>
          <div class="row">
            <div class="col-md-6">
              <span class="ui-float-label" *ngIf="userData">
                <input id="float-input-BirthDate" type="text" size="30" pInputText [(ngModel)]="birthDate"
                  disabled>
                <label for="float-input-BirthDate">Birth date (dd/MM/yyyy) </label>
              </span>
            </div>
            <div class="col-md-6 ">
              <span class="ui-float-label" *ngIf="userData">
                <input id="float-input-PlaceBirth" type="text" size="30" pInputText [(ngModel)]="userData.PlaceBirth"
                  disabled>
                <label for="float-input-PlaceBirth">Place by Birth </label>
              </span>
            </div>
            <button pButton type="button" icon="pi pi-pencil" pTooltip="Edit Birth data" tooltipPosition="bottom" showDelay="1000"
              hideDelay="500" class="button b-third edit" style="position: absolute;right: 0px;top:0px"></button>
          </div>
        </div>
      </div>
      <div class="col-md-7 data_column">
        <!--PERSONAL 2-->
        <div class="email info_card">
          <div class="icon">
            <i class="fa fa-envelope" aria-hidden="true"></i>
          </div>
          <div class="row">
            <div class="col-md-6">
              <span class="ui-float-label" *ngIf="userData">
                <input id="float-input-MailAccenture" type="text" size="30" pInputText
                  [(ngModel)]="userData.MailAccenture" disabled>
                <label for="float-input-MailAccenture">Accenture Mail Data </label>
              </span>
            </div>
            <div class="col-md-6">
              <span class="ui-float-label" *ngIf="userData">
                <input id="float-input-MailAirbus" type="text" size="30" pInputText pInputText
                  [(ngModel)]="userData.MailAirbus" disabled *ngIf="userData.MailAirbus!=null">
                <input id="float-input-MailAirbus" type="text" size="30" pInputText pInputText value="---" disabled
                  *ngIf="userData.MailAirbus==null">
                <label for="float-input-MailAirbus">AIRBUS Mail </label>
              </span>
            </div>
            <button pButton type="button" icon="pi pi-pencil" pTooltip="Edit Email" tooltipPosition="bottom"
              showDelay="1000" hideDelay="500" class="button b-third edit" style="position: absolute;right: 0px;top:0px"></button>
          </div>

        </div>
        <div class="info_card_separator"></div>
        <!--PERSONAL 3-->
        <div class="location info_card">
          <div class="icon">
            <i class="fa fa-map-marker" aria-hidden="true"></i>
          </div>
          <div class="row">
            <div class="col-md-6">
              <span class="ui-float-label" *ngIf="userData">
                <input id="float-input-Location" type="text" size="30" pInputText [(ngModel)]="userData.Location"
                  disabled>
                <label for="float-input-Location">Principal Location </label>
              </span>
            </div>
            <div class="col-md-6">
              <span class="ui-float-label" *ngIf="userData">
                <input id="float-input" type="text" size="30" pInputText value="---" disabled>
                <label for="float-input">Workplace </label>
              </span>
            </div>
            <button pButton type="button" icon="pi pi-pencil" pTooltip="Edit Location" tooltipPosition="bottom"
              showDelay="1000" hideDelay="500" class="button b-third edit" style="position: absolute;right: 0px;top:0px"></button>
          </div>
        </div>
        <div class="info_card_separator"></div>
        <!--PERSONAL 3-->
        <div class="rollon info_card">
          <div class="icon">
            <i class="fa fa-map-marker" aria-hidden="true"></i>
          </div>
          <div class="row">
            <div class="col-md-6">
              <span class="ui-float-label" *ngIf="userData">
                <input id="float-input-RollOnOff" type="text" size="30" pInputText [(ngModel)]="userData.RollOnOff"
                  disabled>
                <label for="float-input-RollOnOff">Roll On/ Roll Off Number </label>
              </span>
              <span class="ui-float-label" *ngIf="userData">
                <input id="float-input-ExitReason" type="text" size="30" pInputText [(ngModel)]="userData.ExitReason"
                  disabled>
                <label for="float-input-ExitReason">Exit Reason </label>
              </span>
            </div>
            <div class="col-md-6">
              <span class="ui-float-label" *ngIf="userData">
                <input id="float-input-GESUB" type="text" size="30" pInputText *ngIf="userData.GESUB!=null"
                  [(ngModel)]="userData.GESUB" disabled>
                <input id="float-input-GESUB" type="text" size="30" pInputText value="---" disabled
                  *ngIf="userData.GESUB==null">
                <label for="float-input-GESUB">GESUB Leave requirement No. </label>
              </span>
              <span class="ui-float-label" *ngIf="userData">
                <input id="float-input-ExitDate" type="text" size="30" pInputText [(ngModel)]="endDate"
                  disabled>
                <label for="float-input-ExitDate">End Date </label>
              </span>
            </div>
            <button pButton type="button" icon="pi pi-pencil" pTooltip="Edit Roll On/Roll Off" tooltipPosition="bottom" showDelay="1000"
              hideDelay="500" class="button b-third edit" style="position: absolute;right: 0px;top:0px"></button>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--PROJECTS-->
  <section class="mydata_projects">
    <div class="section_title mb-4">
      <h3><i class="fa fa-suitcase" aria-hidden="true"></i> Projects
        <button pButton type="button" style="float: right;padding-right: 0px;" label="REQUEST PROJECT ADITTION"
          class="button b-third mr-16"></button>
      </h3>
    </div>

    <p-tabView>
      <p-tabPanel header="ITBonds SP Service Performance and Other">
        <p><strong>ITBonds SP Service Performance and Other</strong> </p>
        <div class="row mt-3">
          <div class="col-md-4">
            <span class="ui-float-label">
              <input id="float-input" type="text" size="30" pInputText value="Rodriguez Lopez, Francisco Javier"
                disabled>
              <label for="float-input">MD </label>
            </span>
          </div>
          <div class="col-md-4">
            <span class="ui-float-label">
              <input id="float-input" type="text" size="30" pInputText value="Rodriguez Lopez, Francisco Javier"
                disabled>
              <label for="float-input">Delivery Lead </label>
            </span>
          </div>
          <div class="col-md-4">
            <span class="ui-float-label">
              <input id="float-input" type="text" size="30" pInputText value="Rodriguez Lopez, Francisco Javier"
                disabled>
              <label for="float-input">Supervisor </label>
            </span>
          </div>
        </div>
        <div class="row mt-3">
          <div class="col-md-4">
            <span class="ui-float-label">
              <input id="float-input" type="text" size="30" pInputText value="Rodriguez Lopez, Francisco Javier"
                disabled>
              <label for="float-input">Airbus Responsible </label>
            </span>
          </div>
          <div class="col-md-4">
            <span class="ui-float-label">
              <input id="float-input" type="text" size="30" pInputText value="Rodriguez Lopez, Francisco Javier"
                disabled>
              <label for="float-input">Airbus Direct Responsible </label>
            </span>
          </div>
          <div class="col-md-4">
            <span class="ui-float-label">
              <input id="float-input" type="text" size="30" pInputText value="EPAD" disabled>
              <label for="float-input">Contract </label>
            </span>
          </div>
        </div>
      </p-tabPanel>
      <p-tabPanel header="Header 2">
        Content 2
      </p-tabPanel>
      <p-tabPanel header="Header 3">
        Content 3
      </p-tabPanel>
    </p-tabView>
  </section>
  <!--ORGANIZATION-->
  <section class="mydata_personal">
    <div class="section_title">
      <h3><i class="fa fa-building" aria-hidden="true"></i> Organization
      </h3>
    </div>
    <div class="row mt-4 row-eq-height">
      <!--PERSONAL 1-->
      <div class="col-md-5 data_column">
        <div class="id info_card">
          <div class="icon">
            <i class="fa fa-university" aria-hidden="true"></i>
          </div>
          <div class="row">
            <div class="col-md-6">
              <span class="ui-float-label" *ngIf="userData">
                <input id="float-input-Company" type="text" size="30" pInputText *ngIf="userData.Company!=null"
                  [(ngModel)]="userData.Company" disabled>
                <input id="float-input-Company" type="text" size="30" pInputText *ngIf="userData.Company==null"
                  value="---" disabled>
                <label for="float-input-Company">Company </label>
              </span>
              <span class="ui-float-label" *ngIf="userData">
                <input id="float-input-Contract" type="text" size="30" pInputText *ngIf="userData.Contract!=null"
                  [(ngModel)]="userData.Contract" disabled>
                <input id="float-input-Contract" type="text" size="30" pInputText *ngIf="userData.Contract==null"
                  value="---" disabled>
                <label for="float-input-Contract">Contract </label>
              </span>
              <span class="ui-float-label" *ngIf="userData">
                <input id="float-input-DeplGeoUnit" type="text" size="30" pInputText *ngIf="userData.DeplGeoUnit!=null"
                  [(ngModel)]="userData.DeplGeoUnit" disabled>
                <input id="float-input-DeplGeoUnit" type="text" size="30" pInputText *ngIf="userData.DeplGeoUnit==null"
                  value="---" disabled>
                <label for="float-input-DeplGeoUnit">Depl. Geo Unit </label>
              </span>
            </div>
            <div class="col-md-6 ">
              <span class="ui-float-label" *ngIf="userData">
                <input id="float-input-CompanyCode" type="text" size="30" pInputText *ngIf="userData.CompanyCode!=null"
                  [(ngModel)]="userData.CompanyCode" disabled>
                <input id="float-input-CompanyCode" type="text" size="30" pInputText *ngIf="userData.CompanyCode==null"
                  value="---" disabled>
                <label for="float-input-CompanyCode">Company Code </label>
              </span>
              <span class="ui-float-label" *ngIf="userData">
                <input id="float-input-OrgUnit" type="text" size="30" pInputText *ngIf="userData.OrgUnit!=null"
                  [(ngModel)]="userData.OrgUnit" disabled>
                <input id="float-input-OrgUnit" type="text" size="30" pInputText *ngIf="userData.OrgUnit==null"
                  value="---" disabled>
                <label for="float-input-OrgUnit"> Org. Unit </label> </span>
            </div>
          </div>
        </div>
        <div class="info_card_separator"></div>
        <div class="location info_card">
          <div class="icon">
            <i class="fa fa-coins" aria-hidden="true"></i>
          </div>
          <div class="row">
            <div class="col-md-6">
              <span class="ui-float-label" *ngIf="userData">
                <input id="float-input-CostCenterName" type="text" size="30" pInputText
                  [(ngModel)]="userData.CostCenterName" *ngIf="userData.CostCenterName!=null" disabled>
                <input id="float-input-CostCenterName" type="text" size="30" pInputText value="---" disabled
                  *ngIf="userData.CostCenterName==null">
                <label for="float-input-CostCenterName">Cost Center </label>
              </span>
              <span class="ui-float-label" *ngIf="userData">
                <input id="float-input-EconomicProfile" type="text" size="30" pInputText
                  [(ngModel)]="userData.EconomicProfile" disabled *ngIf="userData.EconomicProfile!=null">
                <input id="float-input-EconomicProfile" type="text" size="30" pInputText value="---" disabled
                  *ngIf="userData.EconomicProfile==null">
                <label for="float-input-EconomicProfile">Economic Profile </label>
              </span>
            </div>
            <div class="col-md-6 ">
              <span class="ui-float-label" *ngIf="userData">
                <input id="float-input-CostCenterCode" type="text" size="30" pInputText
                  [(ngModel)]="userData.CostCenterCode" disabled *ngIf="userData.CostCenterCode!=null">
                <input id="float-input-CostCenterCode" type="text" size="30" pInputText value="---" disabled
                  *ngIf="userData.CostCenterCode==null">
                <label for="float-input-CostCenterCode">Cost Code </label>
              </span>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-7 data_column">
        <div class="email info_card">
          <div class="icon">
            <i class="fa fa-graduation-cap" aria-hidden="true"></i>
          </div>
          <div class="row">
            <div class="col-md-6">
              <span class="ui-float-label" *ngIf="userData">
                <input id="float-input-CareerTrack" type="text" size="30" pInputText *ngIf="userData.CareerTrack!=null"
                  [(ngModel)]="userData.CareerTrack" disabled>
                <input id="float-input-CareerTrack" type="text" size="30" pInputText value="---" disabled
                  *ngIf="userData.CareerTrack==null">
                <label for="float-input-CareerTrack">Career Track </label>
              </span>
              <span class="ui-float-label" *ngIf="userData">
                <input id="float-input-RoleFamily" type="text" size="30" pInputText *ngIf="userData.RoleFamily!=null"
                  [(ngModel)]="userData.RoleFamily" disabled>
                <input id="float-input-RoleFamily" type="text" size="30" pInputText value="---" disabled
                  *ngIf="userData.RoleFamily==null">
                <label for="float-input-RoleFamily">Role Family </label>
              </span>
              <span class="ui-float-label" *ngIf="userData">
                <input id="float-input-ReqIndustryCategory" type="text" size="30" pInputText
                  *ngIf="userData.ReqIndustryCategory!=null" [(ngModel)]="userData.ReqIndustryCategory" disabled>
                <input id="float-input-ReqIndustryCategory" type="text" size="30" pInputText value="---" disabled
                  *ngIf="userData.ReqIndustryCategory==null">
                <label for="float-input-ReqIndustryCategory">Req. Industry Category </label>
              </span>
              <span class="ui-float-label" *ngIf="userData">
                <input id="float-input-ReqIndustrySpeciality" type="text" size="30" pInputText
                  *ngIf="userData.ReqIndustrySpeciality!=null" [(ngModel)]="userData.ReqIndustrySpeciality" disabled>
                <input id="float-input-ReqIndustrySpeciality" type="text" size="30" pInputText value="---" disabled
                  *ngIf="userData.ReqIndustrySpeciality==null">
                <label for="float-input-ReqIndustrySpeciality">Req. Industry Speciality </label>
              </span>
            </div>
            <div class="col-md-6">
              <span class="ui-float-label" *ngIf="userData">
                <input id="float-input-CareerLevel" type="text" size="30" pInputText [(ngModel)]="userData.CareerLevel"
                  disabled *ngIf="userData.CareerLevel!=null">
                <input id="float-input-CareerLevel" type="text" size="30" pInputText value="---" disabled
                  *ngIf="userData.CareerLevel==null">
                <label for="float-input-CareerLevel">Career Level </label>
              </span>
              <span class="ui-float-label" *ngIf="userData">
                <input id="float-input-TalentSegment" type="text" size="30" pInputText
                  [(ngModel)]="userData.TalentSegment" disabled *ngIf="userData.TalentSegment!=null">
                <input id="float-input-TalentSegment" type="text" size="30" pInputText value="---" disabled
                  *ngIf="userData.TalentSegment==null">
                <label for="float-input-TalentSegment">Talent Segment </label>
              </span>
              <span class="ui-float-label" *ngIf="userData">
                <input id="float-input-ReqFuncTechCapability" type="text" size="30" pInputText
                  [(ngModel)]="userData.ReqFuncTechCapability" disabled *ngIf="userData.ReqFuncTechCapability!=null">
                <input id="float-input-ReqFuncTechCapability" type="text" size="30" pInputText value="---" disabled
                  *ngIf="userData.ReqFuncTechCapability==null">
                <label for="float-input-ReqFuncTechCapability">Req. Func./Tech. Capability </label>
              </span>
            </div>
          </div>

        </div>
        <div class="info_card_separator"></div>
        <div class="location info_card">
          <div class="icon">
            <i class="fa fa-map-marker" aria-hidden="true"></i>
          </div>
          <div class="row">
            <div class="col-md-6">
              <span class="ui-float-label" *ngIf="userData">
                <input id="float-input-Location" type="text" size="30" pInputText [(ngModel)]="userData.Location"
                  disabled>
                <label for="float-input-Location">Other Locations </label>
              </span>
            </div>
            <div class="col-md-6">

            </div>
          </div>
        </div>

      </div>
    </div>
  </section>
</div>