.d-none {
    display: none;
}

.rollon_overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 42, 84, 0.9);
}

.rollon_wrapper {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.rollon_box {
    position: absolute;
    width: 1050px;
    height: 450px;
    background: #f8f8f8;
    display: flex;
    justify-content: flex-start;
}

.rollon_left {
    width: 32%;
    margin: 0;
    background: white;
    padding: 22px;
}

.rollon_left .logo {
    height: 45px;
}

.rollon_left .logo img {
    max-height: 100%;
}

.rollon_main_text h2 {
    margin-bottom: 8px;
    line-height: 1;
    font-size: 30px;
}

.rollon_main_text p {
    margin: 0;
    font-size: 14px;
    font-weight: 600;
}
.rollon_steps {
    margin-top: 32px;
    position: relative;
}

.rollon_steps ul {
    list-style: none;
    padding-left: 0;
    
}

.rollon_steps ul:after {
    content: '';
    display: block;
    height: 186px;
    width: 2px;
    background-color: #9F9F9F;
    position: absolute;
    left: 11px;
    z-index: 0;
    top: 10px;
}

.rollon_steps ul li {
    margin-bottom: 40px;
}

.rollon_steps ul li a {
    color: #9F9F9F;
    text-decoration: none;
    font-size: 14px;
    transition: all .5s ease;
}

.rollon_steps ul li.active a {
    color: #212529;
    font-size: 22px;
    font-weight: 600;
}
.rollon_steps ul li a .step_indicator {
    display: inline-block;
    width: 20px;
    height: 20px;
    vertical-align: middle;
    border: 2px solid transparent;
    margin-top: -4px;
    margin-right: 10px;
}

.rollon_steps ul li a .step_indicator:after {
    content: ''; 
    display: block;
    width: 12px; 
    height: 12px; 
    border: 2px solid #9F9F9F;
    margin-top: 2px;
    margin-left: 2px;
    z-index: 1001;
    position: absolute;
    background-color: white;
    transition: all .5s ease;
}

.rollon_steps ul li.active a .step_indicator:after {
    width: 20px;
    height: 20px;
    border-color: #008FFF;
    margin-left: -2px;
    margin-top: -2px;
}

.rollon_right {
    width: 67%;
    margin: 0;
    padding: 22px;
}

#step1 {
    background-image: url(assets/img/step1.png);
}
#step2 {
    background-image: url(assets/img/step2.png);
}
#step3 {
    background-image: url(assets/img/step3.png);
}
#step4 {
    background-image: url(assets/img/step4.png);
}


.step_content {
    position: relative;
    height: 100%;
    background-repeat: no-repeat;
    background-position: bottom right;

}


.step_title h4 {
    font-size: 22px;
    font-weight: 600;
    margin-top: 5px;
}

.step_title h2 {
    font-size: 32px;
    font-weight: 600;
    margin-top: 5px;
}
.step_title p {
    font-size: 22px;
    font-weight: 400;
    margin-top: 80px
}


.downloaded {
    opacity: 0.4;
}
.step_docs ul {
    list-style: none;
    padding-left: 0;
}

.step_docs ul li {
    margin-bottom: 22px;
    
}
.step_docs ul li a {
    padding: 8px 16px;
    background: white;
    color: #212529;
    text-decoration: none;
    font-size: 14px;
}

.step_docs ul li a:hover {
    background: #008FFF;
    color: white;
}

.step_docs svg {
    width: 12px;
    vertical-align: middle;
    margin-bottom: 3px;
    margin-right: 8px;
}

.step_docs svg .word {
    fill: #008FFF;
}

.step_docs a:hover svg .word {
    fill: white;
}
.button.download-all {
    padding-left: 0;
    text-decoration: none;
    font-weight: 600;
}
.more_info {
    margin-top: 22px;
}
.step_footer {
    position: absolute !important;
    bottom: 0;
}
.rollon_btn {
    display: inline-block;
    vertical-align: top;
}
.legal_note {
    font-size: 10px;
    display: inline-block;
    width: 173px;
    padding-left: 12px;
}
.button.inactive {
    opacity: 0.4;
}

.trainings ul {
    list-style: none;
    padding-left: 0;
}

.training_item {
    position: relative;
    padding-left: 60px;
    background-color: white;
    height: 60px;
    width: 350px;
    margin-bottom: 8px;
    display: flex;
    align-items: center;
    transition: all .5s ease;
}

.training_item:hover {
    background-color: #008FFF;
}

.training_item:before {
    content: ''; 
    color: #008FFF;
    width: 50px; 
    height: 60px;
    background-color: #cfe7f970;
    position: absolute;
    top: 0;
    left: 0;
    font-size: 30px;
    font-weight: 600;
    text-align: center;
    line-height: 55px;
    transition: all .5s ease;
}

.training_item:hover:before {
    color: white;

}
.training_item:nth-child(1):before {
    content: '1';
}
.training_item:nth-child(2):before {
    content: '2';
}
.training_item:nth-child(3):before {
    content: '3';
}
.training_item a {
    display: block;
    text-decoration: none;

}
.training_item a p {
    margin: 0;
}
.training_category {
    font-size: 12px;
    color: #707070;
    transition: all .5s ease;
}
.training_item:hover .training_category {
    color: white;
}

.training_title {
    font-size: 16px;
    color: #008FFF;
    font-weight: 600;
    transition: all .5s ease;
}
.training_item:hover .training_title {
    color: white;
}

.upload_box {
    width: 400px;
    border: 1px dashed #9F9F9F;
    padding: 22px; 
    text-align: center;
}
.upload_box p {
    margin-top: 0;
    color: #707070;
    font-size: 14px;
}

.uploaded_files ul{
    list-style: none;
    padding-left: 0;
    width: 400px;
}

.uploaded_files ul li {
    background-color: white;
    padding: 8px 16px;
    padding-right: 32px;
    border-bottom: 4px solid white;
    position: relative;
    margin-bottom: 8px;
}

.uploaded_files ul li.loading {
    border-color: #9f9f9f80;
}

.uploaded_files ul li.loading:after {
    content: ''; 
    height: 4px;
    width: 20%;
    background-color: #008FFF;
    position: absolute;
    bottom: -4px;
    left: 0;
}

.uploaded_files ul li p {
    margin: 0;
    max-width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.uploaded_files ul li a {
    color: #9F9F9F;
    text-decoration: none;
    font-size: 12px;
}
.uploaded_files ul li.loaded a {
    color: #008FFF;
    font-weight: 600;
}

.uploaded_files ul li .remove_file {
    position: absolute;
    right: 16px;
    top: 5px;
    color: #9F9F9F;
}