<div class="container-fluid">


  <br>
  <div class="year_box">
  <a (click)="yearDown()" style="cursor:pointer">
    <i class="fas fa-chevron-left"></i></a>
    <p-spinner size="30" [(ngModel)]="year" [readonly]="true">
      </p-spinner>
      <a (click)="yearUp()" style="cursor:pointer"><i class="fas fa-chevron-right"></i></a>
  </div>



      <div class="row">
        <div class="col-lg-4">
          <div class="holidays-left">

              <div class="available-days">

                <div class="available-text">
                  Available days
                </div>
                <div class="available-number">
                  <span>10</span> / 22
                </div>
              </div>
              <div class="holiday-block">
                <h4 class="holiday-block-title">Current holidays</h4>
                <div class="holiday-item">
                  <div class="holiday-date start">
                    <span>13</span> AUG
                  </div>
                  <i class="fas fa-arrow-right"></i>
                  <div class="holiday-date end">
                    <span>24</span> AUG
                  </div>
                  <div class="holiday-info">
                    <h5 class="holiday-title">Holiday title</h5>
                    <p class="holiday-description">holiday description</p>
                  </div>
                </div>
              </div>
              <div class="holiday-block">
                <h4 class="holiday-block-title">Next holidays</h4>
                <div class="holiday-item">
                  <div class="holiday-date start">
                    <span>13</span> AUG
                  </div>
                  <i class="fas fa-arrow-right"></i>
                  <div class="holiday-date end">
                    <span>24</span> AUG
                  </div>
                  <div class="holiday-info">
                    <h5 class="holiday-title">Holiday title</h5>
                    <p class="holiday-description">holiday description</p>
                  </div>
                </div>
                                <div class="holiday-item">
                                  <div class="holiday-date start">
                                    <span>13</span> AUG
                                  </div>
                                  <i class="fas fa-arrow-right"></i>
                                  <div class="holiday-date end">
                                    <span>24</span> AUG
                                  </div>
                                  <div class="holiday-info">
                                    <h5 class="holiday-title">Holiday title</h5>
                                    <p class="holiday-description">holiday description</p>
                                  </div>
                                </div>
              </div>
              <div class="holiday-block">
                <h4 class="holiday-block-title">Past holidays</h4>
                <div class="holiday-item">
                  <div class="holiday-date start">
                    <span>13</span> AUG
                  </div>
                  <i class="fas fa-arrow-right"></i>
                  <div class="holiday-date end">
                    <span>24</span> AUG
                  </div>
                  <div class="holiday-info">
                    <h5 class="holiday-title">Holiday title</h5>
                    <p class="holiday-description">holiday description</p>
                  </div>
                </div>
              </div>
          </div>
        </div>
        <div class="col-lg-8">
          <div class="holidays-calendar">

            <div class="row">
              <div class="col-lg-4 col-md-6">
                <p-calendar [inline]="true" [disabledDays]="[0,6]" [dateFormat]="'dd/mm/yy'" [readonlyInput]="true"
                  [disabled]="true" [(ngModel)]="januaryDate">
                  <ng-template pTemplate="date" let-date>
                    <div class="date" pTooltip="{{getDescription(date.day,'January')}}"
                    [class.marked]="checkDay(date.day,'January')">
                      {{date.day}}
                    </div>
                  </ng-template>
                </p-calendar>
              </div>
              <div class="col-lg-4 col-md-6">
                <p-calendar [inline]="true" [disabledDays]="[0,6]" [dateFormat]="'dd/mm/yy'" [readonlyInput]="true"
                  [disabled]="true" [(ngModel)]="februaryDate">
                  <ng-template pTemplate="date" let-date>
                    <div class="date" pTooltip="{{getDescription(date.day,'February')}}" 
                    [class.marked]="checkDay(date.day,'February')">
                      {{date.day}}
                    </div>
                  </ng-template>
                </p-calendar>
              </div>
              <div class="col-lg-4 col-md-6">
                <p-calendar [inline]="true" [disabledDays]="[0,6]" [dateFormat]="'dd/mm/yy'" [readonlyInput]="true"
                  [disabled]="true" [(ngModel)]="marchDate">
                  <ng-template pTemplate="date" let-date>
                    <div class="date" pTooltip="{{getDescription(date.day,'March')}}" 
                    [class.marked]="checkDay(date.day,'March')">
                      {{date.day}}
                    </div>
                  </ng-template>
                </p-calendar>
              </div>

              <div class="col-lg-4 col-md-6">
                <p-calendar [inline]="true" [disabledDays]="[0,6]" [dateFormat]="'dd/mm/yy'" [readonlyInput]="true"
                  [disabled]="true" [(ngModel)]="aprilDate">
                  <ng-template pTemplate="date" let-date>
                    <div class="date" pTooltip="{{getDescription(date.day,'April')}}"
                     [class.marked]="checkDay(date.day,'April')">
                      {{date.day}}
                    </div>
                  </ng-template>
                </p-calendar>
              </div>
              <div class="col-lg-4 col-md-6">
                <p-calendar [inline]="true" [disabledDays]="[0,6]" [dateFormat]="'dd/mm/yy'" [readonlyInput]="true"
                  [disabled]="true" [(ngModel)]="mayDate">
                  <ng-template pTemplate="date" let-date>
                    <div class="date" pTooltip="{{getDescription(date.day,'May')}}"
                     [class.marked]="checkDay(date.day,'June')">
                      {{date.day}}
                    </div>
                  </ng-template>
                </p-calendar>
              </div>
              <div class="col-lg-4 col-md-6">
                <p-calendar [inline]="true" [disabledDays]="[0,6]" [dateFormat]="'dd/mm/yy'" [readonlyInput]="true"
                  [disabled]="true" [(ngModel)]="juneDate">
                  <ng-template pTemplate="date" let-date>
                    <div class="date" pTooltip="{{getDescription(date.day,'June')}}"
                     [class.marked]="checkDay(date.day,'July')">
                      {{date.day}}
                    </div>
                  </ng-template>
                </p-calendar>
              </div>

              <div class="col-lg-4 col-md-6">
                <p-calendar [inline]="true" [disabledDays]="[0,6]" [dateFormat]="'dd/mm/yy'" [readonlyInput]="true" [disabled]="true" [(ngModel)]="julyDate">
                  <ng-template pTemplate="date" let-date>
                    <div class="date" pTooltip="{{getDescription(date.day,'July')}}"
                     [class.marked]="checkDay(date.day,'August')">
                      {{date.day}}
                    </div>
                   </ng-template>
                </p-calendar>
              </div>
              <div class="col-lg-4 col-md-6">
                <p-calendar [inline]="true" [disabledDays]="[0,6]" [dateFormat]="'dd/mm/yy'" [readonlyInput]="true"
                  [disabled]="true" [(ngModel)]="augustDate">
                  <ng-template pTemplate="date" let-date>
                    <div class="date" pTooltip="{{getDescription(date.day,'August')}}"
                     [class.marked]="checkDay(date.day,'August')">
                      {{date.day}}
                    </div>
                  </ng-template>
                </p-calendar>
              </div>
              <div class="col-lg-4 col-md-6">
                <p-calendar [inline]="true" [disabledDays]="[0,6]" [dateFormat]="'dd/mm/yy'" [readonlyInput]="true"
                  [disabled]="true" [(ngModel)]="septemberDate">
                  <ng-template pTemplate="date" let-date>
                    <div class="date" pTooltip="{{getDescription(date.day,'September')}}"
                     [class.marked]="checkDay(date.day,'September')">
                      {{date.day}}
                    </div>
                  </ng-template>
                </p-calendar>
              </div>

              <div class="col-lg-4 col-md-6">
                <p-calendar [inline]="true" [disabledDays]="[0,6]" [dateFormat]="'dd/mm/yy'" [readonlyInput]="true"
                  [disabled]="true" [(ngModel)]="octoberDate">
                  <ng-template pTemplate="date" let-date>
                    <div class="date" pTooltip="{{getDescription(date.day,'October')}}"
                     [class.marked]="checkDay(date.day,'October')">
                      {{date.day}}
                    </div>
                  </ng-template>
                </p-calendar>
              </div>
              <div class="col-lg-4 col-md-6">
                <p-calendar [inline]="true" [disabledDays]="[0,6]" [dateFormat]="'dd/mm/yy'" [readonlyInput]="true"
                  [disabled]="true" [(ngModel)]="novemberDate">
                  <ng-template pTemplate="date" let-date>
                    <div class="date" pTooltip="{{getDescription(date.day,'November')}}"
                     [class.marked]="checkDay(date.day,'November')">
                      {{date.day}}
                    </div>
                  </ng-template>
                </p-calendar>
              </div>
              <div class="col-lg-4 col-md-6">
                <p-calendar [inline]="true" [disabledDays]="[0,6]" [dateFormat]="'dd/mm/yy'" [readonlyInput]="true"
                  [disabled]="true" [(ngModel)]="decemberDate">
                  <ng-template pTemplate="date" let-date>
                    <div class="date" pTooltip="{{getDescription(date.day,'December')}}"
                     [class.marked]="checkDay(date.day,'December')">
                      {{date.day}}
                    </div>
                  </ng-template>
                </p-calendar>
              </div>
            </div>









          </div>
        </div>

      </div>
</div>
