body {

.button {
  -webkit-appearance: none;
  border: 0;
  border-radius: 0;
  padding: 2px 24px;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  font-size: 14px;
  font-weight: $_font_regular;
  font-family: $_font_family;
  min-width: 64px;
  height: 40px;

  &.ui-corner-all {
      border-radius: 0;
  }

  &.ui-button-text-only {
      span {
        &.ui-button-text {
          padding: 0;
          line-height: 1;
        }
      }
  }

  
  &.b-main {
    background-color: $_blue;
    color: white;
    box-shadow: 0 3px 1px -3px rgba(0, 0, 0, .2),
      0 2px 2px 0 rgba(0, 0, 0, .14),
      0 1px 5px 0 rgba(0, 0, 0, .12);
    transform: translate3d(0, 0, 0);
    transition: background .4s cubic-bezier(.25, .8, .25, 1),
                box-shadow 280ms cubic-bezier(.4, 0, .2, 1);
    background-position: center;

    &:hover {
      background: $_main_blue1 radial-gradient(circle, $_transparent 1%, $_main_blue1 1%) center/15000%;

    }

     &:focus {
         box-shadow: 0 3px 1px -3px rgba(0, 0, 0, .2),
         0 2px 2px 0 rgba(0, 0, 0, .14),
         0 1px 5px 0 rgba(0, 0, 0, .12);
     }

    &:active  {
      box-shadow: 0 5px 5px -3px rgba(0, 0, 0, .2),
        0 8px 10px 1px rgba(0, 0, 0, .14),
        0 3px 14px 2px rgba(0, 0, 0, .12);
      background-color: $_main_blue2;
      background-size: 100%;
      transition: background 0s,
        box-shadow 280ms cubic-bezier(.4, 0, .2, 1);
    }
  }

  &.b-second {
    background-color: white;
    color: $_blue;
    box-shadow: 0 3px 1px -3px rgba(0, 0, 0, .2),
      0 2px 2px 0 rgba(0, 0, 0, .14),
      0 1px 5px 0 rgba(0, 0, 0, .12);
    transform: translate3d(0, 0, 0);
    transition: background .4s cubic-bezier(.25, .8, .25, 1),
      box-shadow 280ms cubic-bezier(.4, 0, .2, 1);
    background-position: center;

    &:active {
      box-shadow: 0 5px 5px -3px rgba(0, 0, 0, .2),
        0 8px 10px 1px rgba(0, 0, 0, .14),
        0 3px 14px 2px rgba(0, 0, 0, .12);


      transition: background 0s,
        box-shadow 280ms cubic-bezier(.4, 0, .2, 1);
    }

    &:hover {
      background-color: $_grey_light;
      color: $_blue;
    }

  }

  &.b-third {
    background-color: $_transparent;
    color: $_blue;
    @extend %border-zero;

    &:hover {
      text-decoration: underline !important;
      background-color: $_transparent;
      color: $_blue;
    }
    &:focus {
      box-shadow: none;
    }


    &.arrow-left {
      padding-left: 30px;

      &:before {
        content: '\f060';
        font-family: FontAwesome;
        display: block;
        position: absolute;
        left: 5px;
        bottom: 12px;
        transform: translateX(20px);
        opacity: 0;
        @extend %main-transition;
      }

      &:hover {
        text-decoration: none;

        &:before {
          transform: translateX(0px);
          opacity: 1;
        }
      }
    }

    &.arrow-right {
      padding-right: 30px;

      &:before {
        content: '\f061';
        font-family: FontAwesome;
        display: block;
        position: absolute;
        right: 5px;
        bottom: 12px;
        transform: translateX(-20px);
        opacity: 0;
        @extend %main-transition;
      }

      &:hover {
        text-decoration: none;

        &:before {
          transform: translateX(0px);
          opacity: 1;
        }
      }
    }

  }

  &:after {
    content: '';
    display: block;
    position: absolute;
    border-radius: 50%;
    transition: opacity .2s cubic-bezier(.35, 0, .25, 1),
      background-color .2s cubic-bezier(.35, 0, .25, 1);
    opacity: 0;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }

  &:focus {
    &:after {

      opacity: 1;
    }

  }

  &:focus {
    outline: 0;
  }
}

.b-simple {
  font-weight: $_font_regular;
  font-size: 12px;
  cursor: pointer;
  color: $_blue;

  &:hover {
    text-decoration: underline;
    color: $_blue;
  }
}

}

.third-icon.ui-button {
  img {
    margin-right: 8px
  }

  .ui-button-text {
    display: inline-block;
  }
}
body .ui-button.ui-button-text-icon-left .ui-button-text {
  padding-left: 16px;
}

body .ui-button-text-icon-left .ui-button-icon-left,
body .ui-button.ui-state-default.ui-button-success,
body .ui-button.ui-state-default.ui-button-danger {
  font-size: 1.5rem;
  @extend %main-transition;

}

body .ui-button.ui-state-default.ui-button-success,
body .ui-buttonset.ui-button-success>.ui-button.ui-state-default {
  @extend %border-zero;
  background: $_transparent;
  color: $_green;
  margin: 0 !important;

}

body .ui-button.ui-state-default.ui-button-success:hover,
body .ui-buttonset.ui-button-success>.ui-button.ui-state-default:hover {
  background: $_transparent !important;
  color: $_green !important;
  transform: scale(1.3)
}
body .ui-button.ui-state-default.ui-button-danger,
body .ui-buttonset.ui-button-danger>.ui-button.ui-state-default {
  @extend %border-zero;
  background: $_transparent;
  color: $_red;
  margin: 0 !important;
}

body .ui-button.ui-state-default.ui-button-danger:hover,
body .ui-buttonset.ui-button-danger>.ui-button.ui-state-default:hover {
  background: $_transparent !important;
  color: $_red !important;
  transform: scale(1.1)
}

.row_buttons {
  text-align: right;
  margin-top: 40px;
}