body {
  .ui-dialog {
    .ui-dialog-titlebar {
        padding: 24px;
      @extend %border-zero;
      background-color: white;

      .ui-dialog-title {
        h4 {
          margin: 0;
          font-size: 16px;
          color: $_font_color;
        }

        p {
          font-weight: $_font_light;
          color: $_grey_regular;
          font-size: 12px;

          .pi {
            vertical-align: middle;
          }
        }
      }
    }

    .ui-dialog-content {
        padding: 24px;
      padding-top: 0;
      padding-bottom: 0;
      @extend %border-zero;

      .status-management-option-title {
          font-size: 12px;
          font-weight: $_font_regular;
      }
    }
    .ui-dialog-footer {
        @extend %border-zero;
        padding: 24px;
    }
  }
}
/*  user manangement */

.status-management-dialog {

  .ui-dialog-content {
    overflow: visible;
  }
}

.ui-paginator-bottom {
  &.ui-paginator {
    position: fixed;
    bottom: 0;
    width: 100%;
  }
}