body {
  .ui-table {
    .ui-paginator-bottom {
      @extend %border-zero;
      background-color: white !important;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      padding: 8px 15px;
      box-shadow: 0 8px 6px 6px rgba(0, 0, 0, 0.15);

      .ui-paginator-pages {
        margin-bottom: 14px;
      }

      .ui-paginator-right-content {
        color: $_grey_regular;
        margin-left: 20px;
        font-weight: $_font_regular;
      }
    }

    .ui-table-caption {
      @extend %border-zero;
      background-color: white !important;
    }

    .ui-table-wrapper {
      padding: 0 1em;
    }

    table {
      margin-top: 16px;

      .ui-table-thead {
        border-bottom: 1px solid $_grey_regular;

        tr {

          th {
            @extend %border-zero;
            background-color: $_transparent;
            text-align: left;
            color: $_grey_regular;
            font-size: 10px;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            font-weight: $_font_regular;
            padding: 8px;
          }
        }
      }

      .ui-sortable-column {
        &:not(.ui-state-highlight) {
          &:hover {
            background-color: $_grey_light;
          }
        }

        &:focus {
          outline: none;
          @extend %border-zero;
        }

        &.ui-state-highlight {
          color: $_grey_dark;
          background-color: $_transparent;

          .pi-sort-up,
          .pi-sort-down {
            color: $_grey_dark;
          }
        }

        .pi {
          @extend %main-transition;
        }

        .pi-sort {
          display: none;
        }
      }

      .ui-table-tbody {
        tr {

          &.expanded-row {
            background-color: $_grey_light !important;
          }

          &.deleted-item {
            background: $_grey_light;
            color: $_grey_regular;
          }

          &:hover {
            background-color: $_grey_light !important;

            .show_hover {
              opacity: 1;
            }
          }

          .show_hover {
            opacity: 0;
            transition: opacity .5 ease;
          }

          td {
            font-weight: $_font_light !important;
            border: 0 !important;
            padding-top: 1.2em;
            padding-bottom: 1.2em;
            padding-right: 0.857em; 
            padding-left: 0.857em; 
            color: $_font_color;
            vertical-align: top;

            a {
              color: $_blue;
              text-align: right;
              &:hover, &:focus {
                color: $_blue;
              }
            }

            p-celleditor,
            a {
              overflow: hidden;
              white-space: nowrap;
              text-overflow: ellipsis;
              width: 100%;
              display: block;
              font-size: 14px;
              font-weight: $_font_regular;

              .pi {
                font-size: 1em;
                vertical-align: middle;
              }
            }

            p {
              margin: 0;
              font-size: 14px;
              color: $_grey_dark;
              line-height: 20px;

              span {
                color: $_grey_regular;
              }

              a {
                text-align: left;

              }
            }
          }
        }
      }


    }
  }

  .ui-inputswitch {
    transform: scale(0.6);
    vertical-align: middle;
  }

}







body .ui-paginator .ui-paginator-pages .ui-paginator-page.ui-paginator-element.ui-state-default.ui-corner-all.ui-state-active {
  background: $_transparent;
  color: black;
  font-weight: $_font_bold;
}



body p-inputswitch {
  margin-right: 40px;

}

.filter {
  position: relative;
}

.filter input {
  @extend %border-zero;
  padding-left: 20px;
  border-bottom: 1px solid $_grey_dark;
  padding-bottom: 8px;
  font-size: .65rem;
  color: $_grey_dark;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.filter input:focus {
  outline: none;
  border-bottom: 1px solid $_blue;
}

.filter .pi-filter {
  position: absolute;
  left: 0;
  z-index: 1;
  color: $_grey_dark;
}

body p-inputswitch .ui-inputswitch.ui-inputswitch-checked .ui-inputswitch-slider,
body p-inputswitch .ui-inputswitch.ui-inputswitch-checked:not(.ui-state-disabled):hover .ui-inputswitch-slider {
  background-color: $_blue;
}




body .ui-table table .ui-table-thead>tr.row_filters {
  border-bottom: 2px solid $_border_color;
}

body .ui-table table .ui-table-thead>tr.row_filters>th {
  padding-bottom: 25px;
}





body .ui-table .ui-table-tbody>tr>td p-celleditor input {
  @extend %border-zero;
  padding: 10px;
  border-bottom: 1px solid black;
  transition: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
  border-radius: 0;
  font-size: 12px;
  background: $_transparent;
}

body .ui-table .ui-table-tbody>tr>td p-celleditor input:focus {
  border-bottom: 2px solid $_blue;
  outline: 0;
}

body .ui-table table .ui-table-tbody>tr:nth-child(even),
body .ui-table table .ui-table-tbody>tr:nth-child(odd) {
  background-color: $_transparent;
  border-bottom: 1px solid $_grey_light;
}



.status_info .edition_loading {
  color: $_grey_regular_2;
}

.status_info .error_msg {
  color: $_red;
  font-size: 8px;
  font-weight: $_font_regular;
  line-height: 1;
}

.status_info .error_msg p {
  margin-top: 3px;
}

.status_info .edition_error {
  font-size: 14px;
}

.actions {
  opacity: 0 ;
  position: relative;
  padding: 0 !important;

  button {
        font-size: 1.2rem;
        position: absolute;
        top: 0;
        height: 100%;
        border-radius: 0;
  }
}

body .ui-table tr:hover .actions {
  opacity: 1;
}

.actions button:enabled:hover {
  background-color: $_blue !important;
  color: #fff !important;
}

.actions .edit {
  @extend %border-zero;
  background-color: $_transparent;
  right: 50px;
  color: $_blue;
  border-radius: 0;
}

.actions .delete {
  @extend %border-zero;
  right: 0;
  background-color: $_grey_light;
  color: $_grey_regular_2;
  border-radius: 0;
}


.actions .edition {
  font-size: 1rem;
  position: relative;
  background-color: $_transparent !important;
  border: 0 !important;
  @extend %main-transition
}

.ui-table .ui-table-wrapper {
  overflow: visible;
}

.ui-table-wrapper table .ui-table-tbody td {
  overflow: visible;

}

body .ui-table table .ui-table-tbody tr td p-celleditor .ui-chkbox-icon.pi {
  font-size: 12px;
}

body .ui-table table .ui-table-tbody tr td p-celleditor .pi,
body .ui-table table .ui-table-tbody tr td a .pi {
  font-size: 32px;
}