body {
  .ui-table {
    .ui-paginator-bottom {
      background-color: white !important;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      padding: 8px 15px;
      box-shadow: 0 8px 6px 6px rgba(0, 0, 0, 0.15);
      border: 0;

      .ui-paginator-pages {
        margin-bottom: 14px;
      }

      .ui-paginator-right-content {
        color: $_grey_regular;
        margin-left: 20px;
        font-weight: 600;
      }
    }

    .ui-table-caption {
      background-color: white !important;
      border: 0;
    }

    .ui-table-wrapper {
      padding: 0 1em;
    }

    table {
      margin-top: 16px;

      .ui-table-thead {
        border-bottom: 1px solid $_grey_regular;

        tr {

          th {
            background-color: transparent;
            border: 0;
            text-align: left;
            color: $_grey_regular;
            font-size: 10px;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            font-weight: 600;
            padding: 8px;
          }
        }
      }

      .ui-sortable-column {
        &:not(.ui-state-highlight) {
          &:hover {
            background-color: $_grey_light;
          }
        }

        &:focus {
          outline: none;
          border: none;
        }

        &.ui-state-highlight {
          color: $_grey_dark;
          background-color: transparent;

          .pi-sort-up,
          .pi-sort-down {
            color: $_grey_dark;
          }
        }

        .pi {
          transition: all .5s ease;
        }

        .pi-sort {
          display: none;
        }
      }

      .ui-table-tbody {
        tr {

          &.expanded-row {
            background-color: $_grey_light !important;
          }

          &.deleted-item {
            background: $_grey_light;
            color: $_grey_regular;
          }

          &:hover {
            background-color: $_grey_light !important;

            .show_hover {
              opacity: 1;
            }
          }

          .show_hover {
            opacity: 0;
            transition: opacity .5 ease;
          }

          td {
            font-weight: 400 !important;
            border: 0 !important;
            padding: 8px;
            color: $_font_color;

            a {
              color: $_blue;
              text-align: right;
              &:hover, &:focus {
                color: $_blue;
              }
            }

            p-celleditor,
            a {
              overflow: hidden;
              white-space: nowrap;
              text-overflow: ellipsis;
              width: 100%;
              display: block;
              font-size: 12px;
              font-weight: 600;

              .pi {
                font-size: 1em;
                vertical-align: middle;
              }
            }

            p {
              margin: 0;
              font-size: 11px;
              color: $_grey_dark;
              line-height: 20px;

              span {
                color: $_grey_regular;
              }

              a {
                text-align: left;

              }
            }
          }
        }
      }


    }
  }

  .ui-inputswitch {
    transform: scale(0.6);
    vertical-align: middle;
  }

}







body .ui-paginator .ui-paginator-pages .ui-paginator-page.ui-paginator-element.ui-state-default.ui-corner-all.ui-state-active {
  background: transparent;
  color: black;
  font-weight: bold;
}



body p-inputswitch {
  margin-right: 40px;

}

.filter {
  position: relative;
}

.filter input {
  padding-left: 20px;
  border: 0;
  border-bottom: 1px solid #8d8d8d;
  padding-bottom: 8px;
  font-size: .65rem;
  color: #8d8d8d;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.filter input:focus {
  outline: none;
  border-bottom: 1px solid #008FFF;
}

.filter .pi-filter {
  position: absolute;
  left: 0;
  z-index: 1;
  color: #8d8d8d;
}

body p-inputswitch .ui-inputswitch.ui-inputswitch-checked .ui-inputswitch-slider,
body p-inputswitch .ui-inputswitch.ui-inputswitch-checked:not(.ui-state-disabled):hover .ui-inputswitch-slider {
  background-color: #008FFF;
}




body .ui-table table .ui-table-thead>tr.row_filters {
  border-bottom: 2px solid #acacac;
}

body .ui-table table .ui-table-thead>tr.row_filters>th {
  padding-bottom: 25px;
}





body .ui-table .ui-table-tbody>tr>td p-celleditor input {
  padding: 10px;
  border: 0;
  border-bottom: 1px solid black;
  transition: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
  border-radius: 0;
  font-size: 12px;
}

body .ui-table .ui-table-tbody>tr>td p-celleditor input:focus {
  border-bottom: 2px solid #008FFF;
  outline: 0;
}

body .ui-table table .ui-table-tbody>tr:nth-child(even),
body .ui-table table .ui-table-tbody>tr:nth-child(odd) {
  background-color: transparent;
  border-bottom: 1px solid #f5f5f5;
}



.status_info .edition_loading {
  color: #484849;
}

.status_info .error_msg {
  color: #ff0000;
  font-size: 8px;
  font-weight: 600;
  line-height: 1;
}

.status_info .error_msg p {
  margin-top: 3px;
}

.status_info .edition_error {
  font-size: 14px;
}
