
/*colores*/ 

$_blue: #008FFF;
$_red: #ff0000;
$_green: #1FD27C;
$_grey_dark: #707070;
$_grey_regular: #949494;
$_grey_light: #f8f8f8;
$_font_color: #212529;

$_main_blue1: #199aff;
$_main_blue2: #6eb9f7;