.deleted-wbs {
  display: inline-block;

  p {
    display: inline-block;
    font-weight: $_font_light;
    font-size: 12px;
  }
}

.right_side {
  text-align: right;
  padding-bottom: 0 !important;
  margin-top: 20px;
}



.comentario .ui-card {
  position: absolute;
  left: 0;
  z-index: 0999;
  top: 50px;
  width: 300px;
}

.comentario .ui-card .ui-card-content {
  position: relative;
}

.comentario .ui-card:before {
  content: '';
  display: block;
  position: absolute;
  top: -17px;
  background-image: url(assets/img/triangle.png);
  width: 20px;
  height: 18px;
  left: 120px;
}


.ui-overlaypanel-content textarea {
  @extend %border-zero;
  width: 100%;
  border-bottom: 1px solid $_font_color;

}

.ui-overlaypanel-content textarea:disabled,
.comentario .ui-card .ui-card-body .ui-card-content textarea:disabled {
  color: $_font_color;
  @extend %border-zero;
  opacity: 1;
  font-weight: $_font_regular;
}



.comentario .ui-card .ui-card-body .ui-card-footer .button {
  width: 100%;
  text-align: left;
  padding: 0;
}

.comentario .ui-card .ui-card-body .ui-card-footer .pi-pencil {
  position: static;
  font-size: 25px;
  margin-top: -6px;
}

.comentario .ui-card .ui-card-body .ui-card-footer .ui-button-text {
  display: inline-block;
}

body .ui-overlaypanel-content p-footer {
  display: block;
  width: 300px;
}


.ui-dialog.ui-dynamicdialog.ui-widget .ui-dialog-content {
  padding: 30px;
}

.ui-dialog.ui-dynamicdialog.ui-widget .ui-dialog-content .title_dialog {
  margin: 0;
  margin-bottom: 30px;
  font-size: 22px;
  font-weight: bold;
}

.ui-dialog.ui-dynamicdialog.ui-widget .ui-dialog-content .title_dialog.with-subtitle {
  margin-bottom: 5px;
}
.ui-dialog.ui-dynamicdialog.ui-widget .ui-dialog-content p.subtitle {
  margin-bottom: 30px;
  font-family: 'Graphik', sans-serif;
}

.ui-autocomplete {
  width: 100%;
}

.add-wbs {
  width: 400px;
}

.add-wbs .ui-float-label {
  margin-bottom: 30px;
}

.add-wbs .ui-float-label label {
  font-weight: $_font_regular;
  color: $_grey_regular;
}



.rule-list,
.import-list {
  list-style: none;
  padding: 0;
}

.rule-list label {
  font-weight: $_font_regular;
  padding-left: 8px;
  font-size: 14px;
  margin-left: 0;
  margin-bottom: 5px;
}

.rule-list .rule-details {
  margin-left: 22px;
  margin-top: 8px;
  width: 92%;
  background: $_grey_light;
}

.rule-list .rule-details .rule-quantity,
.rule-list .rule-details .rule-description {
  display: inline-block;
  padding: 5px 8px;
  font-size: 13px;
}

.rule-list .rule-details .rule-quantity {
  background: $_grey_dark_2;
  color: white;
  font-weight: $_font_bold;
}

.rule-list .rule-details .rule-description {
  font-weight: $_font_regular;
  color: $_grey_dark_2;
}

.import.ui-dialog .ui-dialog-content {
  background-color: $_grey_light_2;
}

.import-list li {
  margin-bottom: 8px;
}

.import-list .button {
  padding-left: 0;
}
