<div class="container">
  <div class="row mydata-header">
    <div class="col-md-8">
      <div class="main-data">
        <h3>Malondra Mayor, Mireia</h3> <div class="nacionalidad"><img src="assets/img/spain.png" alt=""></div>
        <div class="start">
          Start date 12/10/2018
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="main-action">
         <p class="action_question">Are you leaving Airbus?</p>
          <button class="button b-main">START ROLL OFF </button>
      </div>
    </div>
  </div>


  <section class="mydata_personal">
    <div class="section_title">
      <h3><i class="fa fa-user" aria-hidden="true"></i> Personal</h3>
    </div>
    <div class="row mt-4 row-eq-height">
      <div class="col-md-5 data_column">
        <div class="id info_card h-100">
          <div class="icon">
            <i class="fa fa-id-card" aria-hidden="true"></i>
          </div>
          <div class="row">
            <div class="col-md-6">
              <span class="ui-float-label">
                <input id="float-input" type="text" size="30" pInputText value="20046399J" disabled>
                <label for="float-input">DNI / Personalauswis / CNI </label>
              </span>
              <span class="ui-float-label">
                <input id="float-input" type="text" size="30" pInputText value="AC9958" disabled>
                <label for="float-input">AIRBUS User Number </label>
              </span>
              <span class="ui-float-label">
                <input id="float-input" type="text" size="30" pInputText value="11417914" disabled>
                <label for="float-input">Employee Number </label>
              </span>
              
            
            </div>
            <div class="col-md-6 ">
                 <span class="ui-float-label">
                   <input id="float-input" type="text" size="30" pInputText value="mireia.malonda.mayor" disabled>
                   <label for="float-input">Enterprise ID </label>
                 </span>
                 <span class="ui-float-label">
                   <input id="float-input" type="text" size="30" pInputText value="AC9958" disabled>
                   <label for="float-input">User Number NG </label>
                 </span>
            </div>
          </div>
          
        </div>
      </div>
      <div class="col-md-7 data_column">
        <div class="email info_card">
           <div class="icon">
             <i class="fa fa-envelope" aria-hidden="true"></i>
           </div>
           <div class="row">
             <div class="col-md-6">
                 <span class="ui-float-label">
                   <input id="float-input" type="text" size="30" pInputText value="mireia.malonda.mayor@avanade.com"
                     disabled>
                   <label for="float-input">Accenture Mail Data </label>
                 </span>
             </div>
             <div class="col-md-6">
                <span class="ui-float-label">
                  <input id="float-input" type="text" size="30" pInputText value="mireia.malonda.mayor@airbus.com"
                    disabled>
                  <label for="float-input">AIRBUS Mail </label>
                </span>
             </div>
           </div>

        </div>
        <div class="info_card_separator"></div>
        <div class="location info_card">
           <div class="icon">
             <i class="fa fa-envelope" aria-hidden="true"></i>
           </div>
           <div class="row">
             <div class="col-md-6">
               <span class="ui-float-label">
                 <input id="float-input" type="text" size="30" pInputText value="mireia.malonda.mayor@avanade.com"
                   disabled>
                 <label for="float-input">Accenture Mail Data </label>
               </span>
             </div>
             <div class="col-md-6">
               <span class="ui-float-label">
                 <input id="float-input" type="text" size="30" pInputText value="mireia.malonda.mayor@airbus.com"
                   disabled>
                 <label for="float-input">AIRBUS Mail </label>
               </span>
             </div>
           </div>
        </div>
      </div>
    </div>
  </section>
  <section class="mydata_projects">
        <div class="section_title mb-4">
          <h3><i class="fa fa-suitcase" aria-hidden="true"></i> Projects</h3>
        </div>

        <p-tabView >
          <p-tabPanel header="ITBonds SP Service Performance and Other">
            <p><strong>ITBonds SP Service Performance and Other</strong> </p>
            <div class="row mt-3">
              <div class="col-md-4">
                  <span class="ui-float-label">
                    <input id="float-input" type="text" size="30" pInputText value="Rodriguez Lopez, Francisco Javier"
                      disabled>
                    <label for="float-input">MD </label>
                  </span>
              </div>
              <div class="col-md-4">
                  <span class="ui-float-label">
                    <input id="float-input" type="text" size="30" pInputText value="Rodriguez Lopez, Francisco Javier"
                      disabled>
                    <label for="float-input">Delivery Lead </label>
                  </span>
              </div>
              <div class="col-md-4">
                  <span class="ui-float-label">
                    <input id="float-input" type="text" size="30" pInputText value="Rodriguez Lopez, Francisco Javier"
                      disabled>
                    <label for="float-input">Supervisor </label>
                  </span>
              </div>
            </div>
            <div class="row mt-3">
              <div class="col-md-4">
                  <span class="ui-float-label">
                    <input id="float-input" type="text" size="30" pInputText value="Rodriguez Lopez, Francisco Javier"
                      disabled>
                    <label for="float-input">Airbus Responsible </label>
                  </span>
              </div>
              <div class="col-md-4">
                  <span class="ui-float-label">
                    <input id="float-input" type="text" size="30" pInputText value="Rodriguez Lopez, Francisco Javier"
                      disabled>
                    <label for="float-input">Airbus Direct Responsible </label>
                  </span>
              </div>
              <div class="col-md-4">
                  <span class="ui-float-label">
                    <input id="float-input" type="text" size="30" pInputText value="EPAD"
                      disabled>
                    <label for="float-input">Contract </label>
                  </span>
              </div>
            </div>
          </p-tabPanel>
          <p-tabPanel header="Header 2">
            Content 2
          </p-tabPanel>
          <p-tabPanel header="Header 3">
            Content 3
          </p-tabPanel>
        </p-tabView>
  </section>

</div>
