<div class="container-fluid">


  <br>
  <div class="year_box">
  <a (click)="yearDown()" style="cursor:pointer">
    <i class="fas fa-chevron-left"></i></a>
    <p-spinner size="30" [(ngModel)]="year" [readonly]="true">
      </p-spinner>
      <a (click)="yearUp()" style="cursor:pointer"><i class="fas fa-chevron-right"></i></a>
  </div>



      <div class="row">
        <div class="col-lg-4">
          <div class="holidays-left">

              <div class="available-days">

                <div class="available-text">
                  Available days
                </div>
                <div class="available-number">
                  <span>10</span> / 22
                </div>
              </div>
              <div class="holiday-block">
                <h4 class="holiday-block-title">Current holidays</h4>
                <div class="holiday-item">
                  <div class="holiday-date start">
                    <span>13</span> AUG
                  </div>
                  <i class="fas fa-arrow-right"></i>
                  <div class="holiday-date end">
                    <span>24</span> AUG
                  </div>
                  <div class="holiday-info">
                    <h5 class="holiday-title">Holiday title</h5>
                    <p class="holiday-description">holiday description</p>
                  </div>
                </div>
              </div>
              <div class="holiday-block">
                <h4 class="holiday-block-title">Next holidays</h4>
                <div class="holiday-item">
                  <div class="holiday-date start">
                    <span>13</span> AUG
                  </div>
                  <i class="fas fa-arrow-right"></i>
                  <div class="holiday-date end">
                    <span>24</span> AUG
                  </div>
                  <div class="holiday-info">
                    <h5 class="holiday-title">Holiday title</h5>
                    <p class="holiday-description">holiday description</p>
                  </div>
                </div>
                                <div class="holiday-item">
                                  <div class="holiday-date start">
                                    <span>13</span> AUG
                                  </div>
                                  <i class="fas fa-arrow-right"></i>
                                  <div class="holiday-date end">
                                    <span>24</span> AUG
                                  </div>
                                  <div class="holiday-info">
                                    <h5 class="holiday-title">Holiday title</h5>
                                    <p class="holiday-description">holiday description</p>
                                  </div>
                                </div>
              </div>
              <div class="holiday-block">
                <h4 class="holiday-block-title">Past holidays</h4>
                <div class="holiday-item">
                  <div class="holiday-date start">
                    <span>13</span> AUG
                  </div>
                  <i class="fas fa-arrow-right"></i>
                  <div class="holiday-date end">
                    <span>24</span> AUG
                  </div>
                  <div class="holiday-info">
                    <h5 class="holiday-title">Holiday title</h5>
                    <p class="holiday-description">holiday description</p>
                  </div>
                </div>
              </div>
          </div>
        </div>
        <div class="col-lg-8">
          <div class="holidays-calendar">

            <div class="row">
              <div class="col-lg-4 col-md-6">
                <p-calendar [inline]="true" [disabledDays]="[0,6]" [dateFormat]="'dd/mm/yy'" [readonlyInput]="true"
                  [disabled]="true" [(ngModel)]="januaryDate">
                  <ng-template pTemplate="date" let-date>
                    <div class="date" [class.marked]="(invalidDatesJanuaryAux.indexOf(date.day) > -1)">
                      {{date.day}}
                    </div>
                  </ng-template>
                </p-calendar>
              </div>
              <div class="col-lg-4 col-md-6">
                <p-calendar [inline]="true" [disabledDays]="[0,6]" [dateFormat]="'dd/mm/yy'" [readonlyInput]="true"
                  [disabled]="true" [(ngModel)]="februaryDate">
                  <ng-template pTemplate="date" let-date>
                    <div class="date" [class.marked]="(invalidDatesFebruaryAux.indexOf(date.day) > -1)">
                      {{date.day}}
                    </div>
                  </ng-template>
                </p-calendar>
              </div>
              <div class="col-lg-4 col-md-6">
                <p-calendar [inline]="true" [disabledDays]="[0,6]" [dateFormat]="'dd/mm/yy'" [readonlyInput]="true"
                  [disabled]="true" [(ngModel)]="marchDate">
                  <ng-template pTemplate="date" let-date>
                    <div class="date" [class.marked]="(invalidDatesMarchAux.indexOf(date.day) > -1)">
                      {{date.day}}
                    </div>
                  </ng-template>
                </p-calendar>
              </div>

              <div class="col-lg-4 col-md-6">
                <p-calendar [inline]="true" [disabledDays]="[0,6]" [dateFormat]="'dd/mm/yy'" [readonlyInput]="true"
                  [disabled]="true" [(ngModel)]="aprilDate">
                  <ng-template pTemplate="date" let-date>
                    <div class="date" [class.marked]="(invalidDatesAprilAux.indexOf(date.day) > -1)">
                      {{date.day}}
                    </div>
                  </ng-template>
                </p-calendar>
              </div>
              <div class="col-lg-4 col-md-6">
                <p-calendar [inline]="true" [disabledDays]="[0,6]" [dateFormat]="'dd/mm/yy'" [readonlyInput]="true"
                  [disabled]="true" [(ngModel)]="mayDate">
                  <ng-template pTemplate="date" let-date>
                    <div class="date" [class.marked]="(invalidDatesMayAux.indexOf(date.day) > -1)">
                      {{date.day}}
                    </div>
                  </ng-template>
                </p-calendar>
              </div>
              <div class="col-lg-4 col-md-6">
                <p-calendar [inline]="true" [disabledDays]="[0,6]" [dateFormat]="'dd/mm/yy'" [readonlyInput]="true"
                  [disabled]="true" [(ngModel)]="juneDate">
                  <ng-template pTemplate="date" let-date>
                    <div class="date" [class.marked]="(invalidDatesJuneAux.indexOf(date.day) > -1)">
                      {{date.day}}
                    </div>
                  </ng-template>
                </p-calendar>
              </div>

              <div class="col-lg-4 col-md-6">
                <p-calendar [inline]="true" [disabledDays]="[0,6]" [dateFormat]="'dd/mm/yy'" [readonlyInput]="true" [disabled]="true" [(ngModel)]="julyDate">
                  <ng-template pTemplate="date" let-date>
                    <div class="date" [class.marked]="(invalidDatesJulyAux.indexOf(date.day) > -1)">
                      {{date.day}}
                    </div>
                   </ng-template>
                </p-calendar>
              </div>
              <div class="col-lg-4 col-md-6">
                <p-calendar [inline]="true" [disabledDays]="[0,6]" [dateFormat]="'dd/mm/yy'" [readonlyInput]="true"
                  [disabled]="true" [(ngModel)]="augustDate">
                  <ng-template pTemplate="date" let-date>
                    <div class="date" [class.marked]="(invalidDatesAugustAux.indexOf(date.day) > -1)">
                      {{date.day}}
                    </div>
                  </ng-template>
                </p-calendar>
              </div>
              <div class="col-lg-4 col-md-6">
                <p-calendar [inline]="true" [disabledDays]="[0,6]" [dateFormat]="'dd/mm/yy'" [readonlyInput]="true"
                  [disabled]="true" [(ngModel)]="septemberDate">
                  <ng-template pTemplate="date" let-date>
                    <div class="date" [class.marked]="(invalidDatesSeptemberAux.indexOf(date.day) > -1)">
                      {{date.day}}
                    </div>
                  </ng-template>
                </p-calendar>
              </div>

              <div class="col-lg-4 col-md-6">
                <p-calendar [inline]="true" [disabledDays]="[0,6]" [dateFormat]="'dd/mm/yy'" [readonlyInput]="true"
                  [disabled]="true" [(ngModel)]="octoberDate">
                  <ng-template pTemplate="date" let-date>
                    <div class="date" [class.marked]="(invalidDatesOctoberAux.indexOf(date.day) > -1)">
                      {{date.day}}
                    </div>
                    <!-- <span [ngStyle]="{backgroundColor: (invalidDatesOctoberAux.indexOf(date.day) > -1) ? '#81C784' : 'inherit'}"
                      style="border-radius:50%;padding: .25em;width: 1.75em; height:1.75em; display:block;">{{date.day}}</span> -->
                  </ng-template>
                </p-calendar>
              </div>
              <div class="col-lg-4 col-md-6">
                <p-calendar [inline]="true" [disabledDays]="[0,6]" [dateFormat]="'dd/mm/yy'" [readonlyInput]="true"
                  [disabled]="true" [(ngModel)]="novemberDate">
                  <ng-template pTemplate="date" let-date>
                    <div class="date" [class.marked]="(invalidDatesNovemberAux.indexOf(date.day) > -1)">
                      {{date.day}}
                    </div>
                    <!-- <span [ngStyle]="{backgroundColor: (invalidDatesNovemberAux.indexOf(date.day) > -1) ? '#81C784' : 'inherit'}"
            style="border-radius:50%;padding: .25em;width: 1.75em; height:1.75em; display:block;">{{date.day}}</span> -->
                  </ng-template>
                </p-calendar>
              </div>
              <div class="col-lg-4 col-md-6">
                <p-calendar [inline]="true" [disabledDays]="[0,6]" [dateFormat]="'dd/mm/yy'" [readonlyInput]="true"
                  [disabled]="true" [(ngModel)]="decemberDate">
                  <ng-template pTemplate="date" let-date>
                    <div class="date" [class.marked]="(invalidDatesDecemberAux.indexOf(date.day) > -1)">
                      {{date.day}}
                    </div>
                    <!-- <span [ngStyle]="{backgroundColor: (invalidDatesDecemberAux.indexOf(date.day) > -1) ? '#81C784' : 'inherit'}"
            style="border-radius:50%;padding: .25em;width: 1.75em; height:1.75em; display:block;">{{date.day}}</span> -->
                  </ng-template>
                </p-calendar>
              </div>
            </div>









          </div>
        </div>

      </div>
</div>
