<form [formGroup]="editForm">
  <ng-container id="CardInfo" *ngIf="type==userDataOperations.EditCardInfo">
    <span class="ui-float-label">
      <input id="float-input-DNI" formControlName="dni" type="text" size="30" pInputText [(ngModel)]="userData.DNI">
      <label for="float-input-DNI">DNI / Personalauswis / CNI </label>
    </span>
    <span class="ui-float-label">
      <input id="float-input-AirbusSAPUser" formControlName="airbusSAPUser" type="text" size="30" pInputText
        [(ngModel)]="userData.AirbusSAPUser">
      <label for="float-input-AirbusSAPUser">AIRBUS User Number </label>
    </span>
    <span class="ui-float-label">
      <input id="float-input-NEmployee" formControlName="nEmployee" type="text" size="30" pInputText
        [(ngModel)]="userData.NEmployee">
      <label for="float-input-NEmployee">Employee Number </label>
    </span>
    <span class="ui-float-label">
      <label for="float-input-NATOInstructionPerformed">NATO Certificate: {{userData.NATO?'Yes':'No'}}</label>

      <p-inputSwitch formControlName="NATO" onLabel="Yes" offLabel="No" [(ngModel)]="userData.NATO"></p-inputSwitch>

    </span>
    <span class="ui-float-label">
      <input id="float-input-EnterpriseID" formControlName="enterpriseID" type="text" size="30" pInputText
        [(ngModel)]="userData.EnterpriseID">
      <label for="float-input-EnterpriseID">Enterprise ID </label>
    </span>
    <span class="ui-float-label">
      <input id="float-input-NUserNG" formControlName="nUserNG" type="text" size="30" pInputText
        [(ngModel)]="userData.NUserNG">
      <label for="float-input-NUserNG">User Number NG </label>
    </span>
    <span class="ui-float-label">
      <input id="float-input-NSS" formControlName="nSS" type="text" size="30" pInputText [(ngModel)]="userData.NSS">
      <label for="float-input-NSS">Social Security Number </label>
    </span>
  </ng-container>
  <ng-container id="BirthInfo" *ngIf="type==userDataOperations.EditBirthInfo">
    <!-- <span class="ui-float-label">
      <input id="float-input-BirthDate" type="text" size="30" formControl="birthDate"
      pInputText [(ngModel)]="bDate">
      <label for="float-input-BirthDate">Birth date (dd/MM/yyyy) </label>
    </span> -->

    <span class="ui-float-label">
      <p-calendar appendTo="body" formControlName="birthDate" [(ngModel)]="bDate" #birthDateCalendar
        dateFormat="dd/mm/yy" placeholder="" (onBlur)="setNullDate($event,'birthDate')" [showIcon]="true"
        id="float-input-BirthDate">
      </p-calendar>
      <label for="float-input-BirthDate">Team end date (dd/MM/yyyy) </label>
    </span>
    <span class="ui-float-label">
      <input id="float-input-PlaceBirth" formControlName="placeBirth" type="text" size="30" pInputText
        [(ngModel)]="userData.PlaceBirth">
      <label for="float-input-PlaceBirth">Place by Birth </label>
    </span>
    <span class="ui-float-label" *ngIf="userData">
      <input id="float-input-Nationality" formControlName="nationality" type="text" size="30" pInputText
        [(ngModel)]="userData.Nationality" disabled>
      <label for="float-input-Nationality">Nationality </label>
    </span>
  </ng-container>
  <ng-container id="BirthInfo" *ngIf="type==userDataOperations.EditEmailInfo">
    <span class="ui-float-label">
      <p-inputMask id="float-input-MailAccenture" formControlName="mailAccenture"
      [(ngModel)]="userData.MailAccenture" characterPattern="*@*.*" placeholder="usuario@accenture.com"></p-inputMask>
      <label for="float-input-MailAccenture">Accenture Mail Data </label>
    </span>
    <span class="ui-float-label" >
      <p-inputMask  id="float-input-MailAirbus" formControlName="mailAirbus"
     mask="*@*.*" [(ngModel)]="userData.MailAirbus" ></p-inputMask>
      <label for="float-input-MailAirbus">AIRBUS Mail </label>
    </span>
  </ng-container>
</form>