/* You can add global styles to this file, and also import other style files */

@import '~bootstrap/dist/css/bootstrap.min.css';
@import 'style_parts/fonts';
@import 'style_parts/variables';


body {
    width: 100%;
    width: 100%;
    height: 100%;
    height: 100%;
    margin: 0 auto;
    margin: 0 auto;
    font-family: $_font_family;

    .ui-widget {
      font-family: $_font_family;
    }

    h3 {
      font-family: $_font_family;
      font-weight: $_font_bold;
      font-size: 1.125rem;
    }
}



.d-flex {
    display: flex;

    &.justify-space-between {
        justify-content: space-between;
    }
    &.align-end {
        align-items: flex-end;
    }
}

.d-none {
  display: none;
}

.mr-16 {
  margin-right: 16px !important;
}


@import 'style_parts/buttons';
@import 'style_parts/inputs';
@import 'style_parts/table';
@import 'style_parts/dialog';
@import 'style_parts/tabs';
@import 'style_parts/rollon';
@import 'style_parts/wbs';



body .mydata_projects p-inputswitch {
  margin-right: 0;
}

.project_supervisor .ui-dropdown {
  width: 100%;
}

body .editcard .button .ui-button-text {
  padding: 0;
}


body .info_card .ui-float-label input.ui-inputtext {
  margin-bottom: 16px;
  padding-bottom: 0;
  font-size: 14px;
}

.info_card .ui-float-label .ui-calendar .ui-button-icon-only .ui-button-icon-left {
  margin-top: -0.9em;
}
.ui-calendar .ui-state-disabled .ui-button-icon-left {
  opacity: 0;
}

.info_card .ui-calendar input.ui-inputtext:disabled {
  opacity: 1;
  border: 0;
}

body .ui-datepicker table td > a.ui-state-active, body .ui-datepicker table td > span.ui-state-active {
  color: inherit;
  background-color: inherit;
}
body .ui-datepicker table td.ui-datepicker-today > a, body .ui-datepicker table td.ui-datepicker-today > span {
    background-color: inherit;
    color: inherit;
}
body .ui-spinner .ui-spinner-button.ui-spinner-up {
    visibility: hidden;
}
body .ui-spinner .ui-spinner-button.ui-spinner-down {
    visibility: hidden;
}
.ui-datepicker span.ui-datepicker-year {
    visibility: hidden;
}
body .ui-datepicker .ui-datepicker-header .ui-datepicker-prev, body .ui-datepicker .ui-datepicker-header .ui-datepicker-next {
    visibility: hidden;
}
.ui-datepicker .ui-datepicker-title {
    text-align: left;
}

.holidays-calendar .ui-datepicker-calendar td {
  position: relative;
  padding: 0;
}


body .holidays-calendar .ui-datepicker {
  border: 0;
  padding: 0 1.857em 1.857em;
}

body .holidays-calendar .ui-datepicker table {
      font-size: 10px;
}

.holidays-calendar .ui-datepicker-month {
  text-transform: uppercase;
}


body .year_box .ui-spinner .ui-spinner-input {
  width: 90px;
  font-size: 22px;
  font-weight: 600;
  padding: 0 16px;
  pointer-events: none;
  border: none;

}

.year_box a {
  vertical-align: middle;
}
