.vh100 {
  height: 100vh;
}

.rolloff_left {
  height: 100%;
  display: flex;
  align-items: center;
}

.rolloff_left h3 {
  margin-bottom: 30px;
  font-size: 1.5em;
}

.rolloff_left  p {
  margin-bottom: 0;
  font-size: .9em;
}

.rolloff_right {
  height: 100%;
  background-color: #f2f2f2;
  display: flex;
  align-items: center;
  padding: 0 60px;
}

.rolloff_right .step_title {
  margin-bottom: 30px;
}

.rolloff_right .step_footer {
  position: static !important;
  margin-top: 80px;
}

.att_box {
  padding: 12px 16px;
  background-color: #FFFAE5;
  font-size: 13px;
  padding-left: 50px;
  position: relative;
  font-weight: 600;
  margin-top: 16px;
}

.att_box .fa {
  position: absolute;
  left: 16px;
  top: 14px;
  color: #FFCC00;
  font-size: 26px;
}


.rolloff_steps {
  margin-top: 32px;
  position: relative;
}

.rolloff_steps ul {
  list-style: none;
  padding-left: 0;
}

.rolloff_steps ul:after {
  content: '';
  display: block;
  height: 262px;
  width: 2px;
  background-color: #f2f2f2;
  position: absolute;
  left: 11px;
  z-index: 0;
  top: 10px;
}

.ro_step {
  margin-bottom: 40px;
}
.ro_step a {
  color: #9F9F9F;
  text-decoration: none;
  font-size: 14px;
  cursor: pointer;
  transition: all .5s ease;
}

.ro_step.active a {
    color: #212529;
    font-size: 22px;
    font-weight: 600;
}

.ro_step.active a .step_indicator:after {
  width: 20px;
  height: 20px;
  border-color: #008FFF;
  margin-left: -1px !important;
  margin-top: 0px !important;

}

.ro_step:after {
  content: '';
  position: absolute;
  left: 11px;
  height: 0;
  width: 2px;
  background-color: #008FFF;
  top: 8px;
  z-index: 100;
  transition: height .5s ease;
}

.ro_step.done {
  position: relative;
}

.ro_step.done a {
  color: #008FFF;
  font-weight: 600;
}

.ro_step.done a .step_indicator:after {
  border-color: #008FFF;
  background-color: #008FFF;
}
.ro_step.done:after {
  height: 65px;
}

.step_indicator {
  display: inline-block;
  width: 20px;
  height: 20px;
  vertical-align: middle;
  border: 2px solid transparent;
  margin-top: -8px;
  margin-right: 10px;
}

.step_indicator:after {
  content: '\f00c ';
  font-family: FontAwesome;
  color: white;
  text-align: center;
  display: block;
  width: 14px;
  height: 14px;
  border: 2px solid #9F9F9F;
  margin-top: 2px;
  margin-left: 2px;
  z-index: 1001;
  position: absolute;
  background-color: white;
  transition: height .5s ease, width .5s ease;
  line-height: 11px;
  font-size: 11px;
  padding: 0;
}

.step_content.active {
  animation: slideUp .3s ease;
}

@keyframes slideUp {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0)
  }
}

.step_content_inner {
  transition: all .5s ease;
}

.step-a {
  margin-bottom: 48px;
  transition: all .3s ease;
}

.step-a.inactive {
  opacity: 0.5;
}

.step-b {
  animation: fadeIn .5s ease;
}

@keyframes fadeIn {
  0% { opacity: 0% }
  100% { opacity: 100% }
}



.next_list {
  padding-left: 0;
  list-style: none;
}

.next_list_item {
  position: relative;
  padding-left: 20px;
  margin-bottom: 8px;
}

.next_list_item:after {
    content: '\f00c';
    position: absolute;
    left: 0;
    top: 4px;
    display: block;
    font-family: 'Font Awesome\ 5 Free';
    font-weight: 900;
    font-size: .7em;
}

.next_list_item a {
  color: #008FFF;
}

.step_title.finish h4 {
  font-size: 2.2em;
}
.step_title.finish p {
  font-size: 1.5em;
}


@media only screen and (min-width: 472px) {
  .calendar-wrap {
    width: 340px;
  }
}
