

    <table class="table">
      <tbody>
        <tr class="datagrid__row">
          <td>
            <span>
              <div class="datagrid__loader" [style.width.%]="80"> </div>
            </span>
          </td>
          <td>
            <span>
              <div class="datagrid__loader" [style.width.%]="30"></div>

            </span>
          </td>
          <td>
            <span>
              <div class="datagrid__loader" [style.width.%]="60"></div>
            </span>
          </td>
        </tr>
        <tr class="datagrid__row">
          <td>
            <span>
              <div class="datagrid__loader" [style.width.%]="78"> </div>
            </span>
          </td>
          <td>
            <span>
              <div class="datagrid__loader" [style.width.%]="45"> </div>

            </span>
          </td>
          <td>
            <span>
               <div class="datagrid__loader" [style.width.%]="56"> </div>
            </span>
          </td>
        </tr>
        <tr class="datagrid__row">
          <td>
            <span>
               <div class="datagrid__loader" [style.width.%]="90"> </div>
            </span>
          </td>
          <td>
            <span>
             <div class="datagrid__loader" [style.width.%]="28"> </div>

            </span>
          </td>
          <td>
            <span>
               <div class="datagrid__loader" [style.width.%]="70"> </div>
            </span>
          </td>
        </tr>

      </tbody>
    </table>